<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/bradhudson?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@bradhudson</h2>
								<p></p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 1 month ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 6 hours ago</span>
								</div>
								<br />
								<span class="ui label brown">Bronze Account</span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/bradhudson">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/bradhudson">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/bradhudson/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">0</span>
									</a>
									<a class="item active" href="/store/bradhudson/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">25</span>
									</a>
									<a class="item" href="/store/bradhudson/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/be569067500247e34fe20e8dbfb9b27c">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								QUALITY A&#43;&#43;&#43; SUPER LAMON HAZE
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/be569067500247e34fe20e8dbfb9b27c">
											<img src="/item-image/be569067500247e34fe20e8dbfb9b27c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/be569067500247e34fe20e8dbfb9b27c">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson A sativa-dominant hybrid of Lemon Skunk and Super Silver Haze and two time Cannabis Cup winner from Green House Seeds. Super Lemon Haze is a kief-caked multi-colored wonder. As the name states this strain has real lemony characteristics. The smell is zesty, citrusy, and a little sweet. As for the taste, it’s everything one would expect from the namesake; tart and sweet like lemonheads candy - not quite as sharp as one might expect. The effects are uniquely energetic and lively, may not be the best strain for those of us that are naturally wound-up tight.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/fa2dccd22d2c4b9f77d7e52e49174cbe">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP QUALITY OBAMA KUSH
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/fa2dccd22d2c4b9f77d7e52e49174cbe">
											<img src="/item-image/fa2dccd22d2c4b9f77d7e52e49174cbe?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/fa2dccd22d2c4b9f77d7e52e49174cbe">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson This unique indica appropriately channels the President’s famous message of ‘Change’ as it invigorates and inspires. Daughter of indica Afghani and mostly sativa hybrid OG Kush, Obama Kush sets itself apart from other indicas through its cerebral stimulation and euphoric rush. This strain is recommended for all levels of patients looking for a balanced experience, as it offers powerful physical effects as well as an intense cerebral uplift that does not stimulate appetite or put you to sleep. The flowers are frosty with a purple hue and reddish hairs, giving off a light aroma.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/4224aff34ae34dfc6146c340420a0b1e">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; PLUSH BERRY
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/4224aff34ae34dfc6146c340420a0b1e">
											<img src="/item-image/4224aff34ae34dfc6146c340420a0b1e?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/4224aff34ae34dfc6146c340420a0b1e">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Plushberry, a cross between Black Cherry Soda and Space Queen, is an 80% indica strain bred by TGA Seeds. The Black Cherry Soda lends this strain an aromatic berry scent, while the Space Queen genetics promote heavy resin production. Plushberry induces a deep relaxation in the mind and body, with calming qualities that melt away stress. There are two main phenotypes of Plushberry: one that grows smaller, pink-tinted plants, and another with bulkier, more indica-like formations. Plushberry flowers in 55 to 65 days with medium to heavy yields</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/ffbd907d376d4b7c4b1ecc865695f46c">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; LEMONDER 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/ffbd907d376d4b7c4b1ecc865695f46c">
											<img src="/item-image/ffbd907d376d4b7c4b1ecc865695f46c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/ffbd907d376d4b7c4b1ecc865695f46c">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Lemonder is a body-heavy hybrid with an outstanding aroma. This strain is a cross of Lavender, Super Lemon Haze, and OG Kush, and offers alert mental clarity and relaxing physical effects. The buds glitter with trichomes and are tangled in orange/bronze hairs. Its aroma smells like lemon peel, pine needles, and a sprinkling of earthy spice. Enjoy Lemonder throughout the day as its effects are manageable and won’t pull too firmly toward stimulation or relaxation. Expect smile-inducing euphoria and a calming, carefree body buzz</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/ecbd973b10274dff7fd7fd9008e8eab1">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								QUALITY  A&#43;&#43;&#43; GRADE GHOST TRAIN HAZE
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/ecbd973b10274dff7fd7fd9008e8eab1">
											<img src="/item-image/ecbd973b10274dff7fd7fd9008e8eab1?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/ecbd973b10274dff7fd7fd9008e8eab1">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson First bred by Rare Dankness, Ghost Train Haze is a sativa cross between Ghost OG and Neville’s Wreck. Unlike typical sativas, Ghost Train Haze grows dense buds blanketed in white, crystal-capped trichomes. With a sour citrus and floral aroma, Ghost Train Haze delivers a potent dose of THC to knock out pain, depression, and appetite loss, but patients prone to anxiety should steer clear of this heavy-hitter. Low doses are conducive to concentration and creativity, but you may notice some cerebral haziness as you administer more. Ghost Train Haze is a suitable outdoor strain for warm climates and has a 65 to 80 day flowering time indoors.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/f36eddcaaf55438560a2e9f77199cf1d">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; PURPEL HAZE FREE SHIPPING
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/f36eddcaaf55438560a2e9f77199cf1d">
											<img src="/item-image/f36eddcaaf55438560a2e9f77199cf1d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/f36eddcaaf55438560a2e9f77199cf1d">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce </div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson
Popularized by Jimi Hendrix’s 1967 classic, Purple Haze delivers a dreamy burst of euphoria that brings veteran consumers back to their psychedelic heyday. This nostalgic sativa staple remains cherished for its high-energy cerebral stimulation that awakens creativity and blissful contentment throughout the day. Purple Haze is believed to have descended from parent strains Purple Thai and Haze, who pass on a mix of sweet and earthy flavors underscored by notes of berry and sharp spice. Following her 8 to 9 week flowering time, Purple Haze buds typically acquire vibrant hues of lavender that further justify the naming of this strain.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/fc215af506ef4a8671f06caeb3c0e5e3">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP  A&#43;&#43;&#43; SOUR OG 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/fc215af506ef4a8671f06caeb3c0e5e3">
											<img src="/item-image/fc215af506ef4a8671f06caeb3c0e5e3?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/fc215af506ef4a8671f06caeb3c0e5e3">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Sour OG is a 50⁄50 hybrid strain that is a real favorite among those who love a balanced sativa/indica buzz. As a cross of two of the most popular and widely available strains in the world (Sour Diesel and OG Kush), Sour OG has been available in clone and seed form for quite some time. Most samples express dense, round, OG Kush-type buds laden with large, sticky trichomes. The odor and taste are usually an equal mix of both parents, with sour lemon, pine, fuel, and a distinct “kushy” undertone, although some versions have a more fruity profile. Often described as a “one-hit-quit” strain, Sour OG starts with an energetic head high that gradually gives way to a relaxing body stone.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/fccda5924c6648a3666c2c3f5c511deb">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; SOUR DIESEL AVAILABLE
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/fccda5924c6648a3666c2c3f5c511deb">
											<img src="/item-image/fccda5924c6648a3666c2c3f5c511deb?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/fccda5924c6648a3666c2c3f5c511deb">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Sour Diesel, sometimes called Sour D, is an invigorating sativa-dominant strain named after its pungent, diesel-like aroma. This fast-acting strain delivers energizing, dreamy cerebral effects that have pushed Sour Diesel to its legendary status. Stress, pain, and depression fade away in long-lasting relief that makes Sour Diesel a top choice among medical patients. This strain took root in the early 90’s, and it is believed to have descended from Chemdog 91 and Super Skunk.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/2146c2c4224a49f175f506efb73a40d4">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								PRESIDENTIAL OG
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/2146c2c4224a49f175f506efb73a40d4">
											<img src="/item-image/2146c2c4224a49f175f506efb73a40d4?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/2146c2c4224a49f175f506efb73a40d4">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson   Presidential OG (also called Presidential Kush) by Royal Queen Seeds is an indica cross between Bubble Gum and OG Kush that definitely knows how to get your attention with its intense citrus-pine smell. As far as taste goes, it maintains the pine flavor and heads into more earthy terrain. Almost purely indica, this strain hits hard and fast with a sedative effect that make this a popular choice for those dealing with insomnia or stress.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/f0bad02cad6b4fcb5ec1ae2907da4995">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; DUTCH TREAT 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/f0bad02cad6b4fcb5ec1ae2907da4995">
											<img src="/item-image/f0bad02cad6b4fcb5ec1ae2907da4995?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/f0bad02cad6b4fcb5ec1ae2907da4995">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Over the years, Dutch Treat has become an essential strain of the Amsterdam coffee shops. The dense, sticky buds have an intense smell of sweet fruits mixed with pine and eucalyptus trees. The cerebral high comes on quick and leaves consumers feeling uplifted and euphoric while reducing stress and relaxing the mind</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/48fdc99b4f4d42325ed5402f3752007c">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								T OP A&#43;&#43;&#43; GRADE APE FREE SHIPPING 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/48fdc99b4f4d42325ed5402f3752007c">
											<img src="/item-image/48fdc99b4f4d42325ed5402f3752007c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/48fdc99b4f4d42325ed5402f3752007c">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhuson This full-bodied indica is a delightful crossbreed of Mendocino Pups, Skunk and Original Afghani, making it a pretty exciting bud to indulge in. Despite its fruity nature, Grape Ape packs around 18-21% THC, so you can expect a high as delicious as the taste, featuring both mind and body effects</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/889eb9d4f58440bf54b16bccc76f516e">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP A&#43;&#43;&#43; GALETO 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/889eb9d4f58440bf54b16bccc76f516e">
											<img src="/item-image/889eb9d4f58440bf54b16bccc76f516e?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/889eb9d4f58440bf54b16bccc76f516e">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/889eb9d4f58440bf54b16bccc76f516e">
										<div class="ui dark-green basic tiny button fluid left aligned">galeto</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Gelato (also referred to as “Larry Bird”) is another tantalizing hybrid cannabis strain from Cookie Fam Genetics, following in the footsteps of its parents Sunset Sherbet and Thin Mint GSC. This Bay Area, California native gets its name from the fruity, dessert-like aroma, a common genetic thread among the Cookie family. Her buds tend to bloom in dark purple hues illuminated by fiery orange hairs and a shining white coat of crystal resin. Novice consumers may want to approach this THC powerhouse with caution, but those armed with a high tolerance will delight in Gelato’s heavy-handed euphoria. Physical relaxation comes on strong, but many find themselves still mentally agile enough to stay productive and creative when enjoying Gelato during the day.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/6dfc9ed93de948117aa07337278b2b75">
								<span class="ui teal tiny label tag right floated">Cocaine</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP  A &#43;&#43;&#43; GRADE COKE 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/6dfc9ed93de948117aa07337278b2b75">
											<img src="/item-image/6dfc9ed93de948117aa07337278b2b75?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/6dfc9ed93de948117aa07337278b2b75">
										<div class="ui dark-green basic tiny button fluid left aligned">cocaine</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Cocaine is also found in “base” form. This is what is popularly known as “crack.” The consumption of crack went up when authorities began to impose severe restrictions on the chemicals necessary to make cocaine hydrochloride.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/78962d058d4d4be35088d2e1a74df281">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								AAA&#43; GRADE LAVENDER KUSH
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/78962d058d4d4be35088d2e1a74df281">
											<img src="/item-image/78962d058d4d4be35088d2e1a74df281?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/78962d058d4d4be35088d2e1a74df281">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Built from strains around the world, Lavender by Soma Seeds has its origins from Super Skunk, Big Skunk Korean and Afghani Hawaiian. This strain, sometimes referred to as Lavender Kush, has dense buds that give off a floral and spicy aroma. It has a dark purple coloration at the ends of its leaves.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/0f79702b8fa5481940d694f39a2e4c15">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								BLUE DREAMS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/0f79702b8fa5481940d694f39a2e4c15">
											<img src="/item-image/0f79702b8fa5481940d694f39a2e4c15?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/0f79702b8fa5481940d694f39a2e4c15">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Blue Dream, a sativa-dominant hybrid originating in California, has achieved legendary status among West</p>

<p>WELCOME TO  bradhudson Coast strains. Crossing a Blueberry indica with the sativa Haze, Blue Dream balances full-body relaxation with gentle cerebral invigoration. Novice and veteran consumers alike enjoy the level effects of Blue Dream, which ease you gently into a calm euphoria. Some Blue Dream phenotypes express a more indica-like look and feel, but the sativa-leaning variety remains most prevalent.</p>

<p>With a sweet berry aroma redolent of its Blueberry parent, Blue Dream delivers swift symptom relief without heavy sedative effects. This makes Blue Dream a popular daytime medicine for patients treating pain, depression, nausea, and other ailments requiring a high THC strain.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/6ffc56178f3d4bdd6d49e4512c9c40fe">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								QUALITY A&#43;&#43;&#43; GRADE JACK HERER
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/6ffc56178f3d4bdd6d49e4512c9c40fe">
											<img src="/item-image/6ffc56178f3d4bdd6d49e4512c9c40fe?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/6ffc56178f3d4bdd6d49e4512c9c40fe">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Jack Herer is a sativa-dominant cannabis strain that has gained as much renown as its namesake, the marijuana activist and author of The Emperor Wears No Clothes. Combining a Haze hybrid with a Northern Lights #5 and Shiva Skunk cross, Sensi Seeds created Jack Herer hoping to capture both the cerebral elevation associated with sativas and the heavy resin production of indicas. Its rich genetic background gives rise to several different variations of Jack Herer, each phenotype bearing its own unique features and effects. However, consumers typically describe this 55% sativa hybrid as blissful, clear-headed, and creative.</p>

<p>WELCOME TO  bradhudson Jack Herer was created in the Netherlands in the mid-1990s, where it was later distributed by Dutch pharmacies as a recognized medical-grade strain. Since then, the spicy, pine-scented sativa has taken home numerous awards for its quality and potency. Many breeders have attempted to cultivate this staple strain themselves in sunny or Mediterranean climates, and in</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/858e71d971ab429f52086dbd7c161ea9">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A&#43;&#43;&#43; AMNESIA  HAZE
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/858e71d971ab429f52086dbd7c161ea9">
											<img src="/item-image/858e71d971ab429f52086dbd7c161ea9?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/858e71d971ab429f52086dbd7c161ea9">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson
With earthy flavors of lemons and citrus, Amnesia Haze is a perfect strain to start your day with a smile. The uplifting, energetic buzz is one you won’t soon forget. Its genetics have been traced back to the South Asian and Jamaican landrace strains, and this Cannabis Cup winner (1st place 2004, 1st place Sativa Cup 2012) has since been popularized in the coffee shops of Amsterdam</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/6e38423c075d4c63608ca8a2d04bd509">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE A &#43;&#43;&#43; WEED  GREEN CRACK
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/6e38423c075d4c63608ca8a2d04bd509">
											<img src="/item-image/6e38423c075d4c63608ca8a2d04bd509?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/6e38423c075d4c63608ca8a2d04bd509">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Don’t let the name fool you: this is pure cannabis. Few strains compare to Green Crack’s sharp energy and</p>

<p>WELCOME TO bradhudson focus as it induces an invigorating mental buzz that keeps you going throughout the day. With a tangy, fruity flavor redolent of mango, Green Crack is a great daytime strain that may help consumers fight fatigue, stress, and depression.</p>

<p>Green Crack has branched into two genetic lineages, the most common of which is its sativa line descended from Skunk #1. The 75% indica variety of Green Crack is said to have come from an Afghani strain, and is marked by a tighter bud structure. Because its name perpetuates a negative image of cannabis, some people have taken to calling this strain Cush (with a ‘C’) or Green Cush instead.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/a32f20aa72aa42c05d62d3347c526267">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE MARIJUANA 9POUND HAMMER AAA&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/a32f20aa72aa42c05d62d3347c526267">
											<img src="/item-image/a32f20aa72aa42c05d62d3347c526267?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/a32f20aa72aa42c05d62d3347c526267">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson
9 Pound Hammer is an 80% indica strain created by JinxProof Gentics that crosses Gooberry, Hells OG, and Jack the Ripper. These dense buds are coated in resin, offering sweet grape and lime flavors. True to its indica dominance, effects are heavy and long-lasting, useful for pain and stress relief. Best grown indoors, 9 Pound Hammer will deliver a heavy yield, flowering between 50 and 60 days.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/235c6ed98b0741ca77f05ff1b4c0440f">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE AAA&#43; BERRY WHITE
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/235c6ed98b0741ca77f05ff1b4c0440f">
											<img src="/item-image/235c6ed98b0741ca77f05ff1b4c0440f?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Berry White is a hybrid strain that is the offspring of parents of near-celebrity status in the cannabis world: Blueberry and White Widow. Berry is famous in its own right for its even, balanced effects that offer relaxation from stress and anxiety along with a sense of euphoria. This strain is perfect for inspiring an upbeat mood and may lead to conversation and creative pursuits. This plant’s flowers have a light sour berry and pine smell and a fresh taste similar to their scent. They generally have a strong blue coloring contrasted by orange hairs.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/a0dbaf7fd0244d835e529b3fb0575be4">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE AK47 AAA&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/a0dbaf7fd0244d835e529b3fb0575be4">
											<img src="/item-image/a0dbaf7fd0244d835e529b3fb0575be4?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/a0dbaf7fd0244d835e529b3fb0575be4">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Created in 1992 by Serious Seeds, AK-47 has won numerous Cannabis Cup awards around the world for its soaring THC content. For those hoping to fill their gardens with this resinous, skunky hybrid, growers recommend an indoor environment with either soil or hydroponic setups. AK-47 is easy to grow and has a short indoor flowering time of just 53 to 63 days, while outdoor plants typically finish toward the end of October.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/77c24bf80a904c996e1634cd49e9bd4a">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP QUALITY Q&#43;&#43;&#43; GRADE PANAMA RED 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/77c24bf80a904c996e1634cd49e9bd4a">
											<img src="/item-image/77c24bf80a904c996e1634cd49e9bd4a?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/77c24bf80a904c996e1634cd49e9bd4a">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce </div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Panama Red is best described as an old-school cannabis classic. Originating from Panama, this pure sativa rose to stardom in the late 1960’s thanks to its typical sativa effects: speedy and intense, bordering on psychedelic. As cannabis cultivation matured, Panama Red, which has a lengthy flowering time of at least 11 weeks, was left behind for faster growing strains and increased profits. However, those who fondly recall days of its prominence love its smooth medicating experience and loftily contemplate its revival. If you can get your hands on this sentimental throwback, do not hesitate to groove down memory lane and enjoy the ride.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/fda56f3bae18433c60b32137f112249d">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								TOP GRADE BLUEBERRY KUSH AAA&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/fda56f3bae18433c60b32137f112249d">
											<img src="/item-image/fda56f3bae18433c60b32137f112249d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/fda56f3bae18433c60b32137f112249d">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson A true A-List cannabis strain. Blueberry’s legendary status soared to new heights after claiming the High Times’ Cannabis Cup 2000 for Best Indica. The long history of the strain is traced back to the late 1970s when American breeder DJ Short was working with a variety of exotic landrace strains. However, throughout the decades of Blueberry’s cultivation the genetics have been passed around, due in large part to DJ Short working with multiple seed banks and breeders. The sweet flavors of fresh blueberries combine with relaxing effects to produce a long-lasting sense of euphoria. Many consumers utilize Blueberry to help contend with pain and stress, while connoisseurs and growers admire the strain for its colorful hues and high THC content.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/b47c0695e62445697255bc0a0bc82a5e">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								QUALITY  GRADE A&#43;&#43;&#43; KOSHER KUSH
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/b47c0695e62445697255bc0a0bc82a5e">
											<img src="/item-image/b47c0695e62445697255bc0a0bc82a5e?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/b47c0695e62445697255bc0a0bc82a5e">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Kosher Kush, offered now in seed form from DNA Genetics, originated in Los Angeles as a clone-only strain. Winner of High Times Cannabis Cup’s Best Indica in 2010 and 2011, as well as Best Strain in 2011, Kosher Kush produces staggering levels of THC, with some samples testing over 29%. Known as one of the most odiferous OG Kush-related strains, it has a unique yet familiar smell reminiscent of rich earth and fruit, and is considered by many to be one of the tastiest smokes around. The high experienced is typical of many heavy indica strains, producing pronounced relaxation and pain relief, with sleep often following close behind.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bradhudson/item/12f0f65b4fda4b626a47fc1db3fea4cf">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								BEST QUALITY GRADE MASTER KUSH
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bradhudson/item/12f0f65b4fda4b626a47fc1db3fea4cf">
											<img src="/item-image/12f0f65b4fda4b626a47fc1db3fea4cf?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bradhudson/item/12f0f65b4fda4b626a47fc1db3fea4cf">
										<div class="ui dark-green basic tiny button fluid left aligned">1ounce</div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>WELCOME TO bradhudson Master Kush is a popular indica cross created out of two landrace strains from different parts of the Hindu Kush region. Master Kush is bred by the Dutch White Label Seed Company, located in Amsterdam. During maturation the plant produces a subtle earthy, citrus smell with a hint of incense, which is often described as a vintage flavor. The taste of Master Kush is reminiscent of the famous hard-rubbed charas hash. This strain holds a superb balance of full-body relaxation without the mind-numbing effect that many indica strains produce. Instead, Master Kush offers a sharpened sensory awareness that can bring out the best of any activity</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 235 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
