<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/juicyrcking-lee?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@juicyrcking-lee</h2>
								<p>TOP PURITY RESEACH CHEMICALS(R.C&#39;s) MANUFACTURER ,VENDOR AND WORLDWIDE SUPPLIER FROM CHINA(MAINLAND).</p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 11 months ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 16 hours ago</span>
								</div>
								<br />
								<span class="ui label brown">Bronze Account</span>
								<span class="ui label">Verified </span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
								<span class="ui label dark-green">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/juicyrcking-lee">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/juicyrcking-lee">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/juicyrcking-lee/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">6</span>
									</a>
									<a class="item active" href="/store/juicyrcking-lee/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">16</span>
									</a>
									<a class="item" href="/store/juicyrcking-lee/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/7e2b43fec964457c71a8927c311c1430">
								<span class="ui teal tiny label tag right floated">3-MEO-PCP</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								3-MEO-PCP
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/7e2b43fec964457c71a8927c311c1430">
											<img src="/item-image/7e2b43fec964457c71a8927c311c1430?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>TOP PURITY  3-MEO-PCP 98% PURITY FROM THE CHINA(MAINLAND) SUPPLIER</p>

<p>GREAT FORMULA ,LAB PROVEN AND TESTED</p>

<p>5 GRAMS TEST SAMPLE AVAILABLE</p>

<p>SHIPPING WORLDWIDE</p>

<p>BULK BUYERS HAVE DISCOUNTS</p>

<p>WORLDWIDE DELIVERY MAXIMUM 5 DAYS (USA AND UK 3 DAYS)</p>

<p>100% MONEY BACK GUARANTEED FOR UNDELIVERED PARCELS</p>

<p>SALES ARE FROM 100GRMS AND ABOVE</p>

<p>SEE VENDOR FAQ FOR MORE DETAILS</p>

<p>We will provide the most comprehensive products and service to you!</p>

<p>FEEL FREE TO PLACE YOUR ORDER! Dr Lee</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/8b60fa87065b45a148391cd4e06a7b26">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								GBK   DIRECTLY FROM MANUFACTURERS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/8b60fa87065b45a148391cd4e06a7b26">
											<img src="/item-image/8b60fa87065b45a148391cd4e06a7b26?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/8b60fa87065b45a148391cd4e06a7b26">
										<div class="ui dark-green basic tiny button fluid left aligned">5 grams gbk (test sample)</div>
										<div class="ui basic left pointing label price">100 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>GBK</p>

<p>TOP  PURITY 99% NO DILUTES OR IMPURITIES</p>

<p>5 GRAMS TEST SAMPLE AVAILABLE</p>

<p>WORLDWIDE SHIPPING</p>

<p>100 GRAMS MINIMUM ORDER</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/9c1182f065504af164f7893a79bcf633">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								5CAKB48  
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/9c1182f065504af164f7893a79bcf633">
											<img src="/item-image/9c1182f065504af164f7893a79bcf633?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/9c1182f065504af164f7893a79bcf633">
										<div class="ui dark-green basic tiny button fluid left aligned">5 grams test sample  5cakb48  </div>
										<div class="ui basic left pointing label price">160 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/9c1182f065504af164f7893a79bcf633">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams 5cakb48  </div>
										<div class="ui basic left pointing label price">600 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>TOP PURITY 5CAKB48   99% PURITY FROM THE CHINA(MAINLAND) SUPPLIER</p>

<p>GREAT FORMULA ,LAB PROVEN AND TESTED</p>

<p>5 GRAMS TEST SAMPLE AVAILABLE</p>

<p>SHIPPING WORLDWIDE</p>

<p>BULK BUYERS HAVE DISCOUNTS</p>

<p>WORLDWIDE DELIVERY MAXIMUM 8 DAYS (USA AND UK 7 DAYS)</p>

<p>100% MONEY BACK GUARANTEED FOR UNDELIVERED PARCELS</p>

<p>SALES ARE FROM 100GRMS AND ABOVE</p>

<p>SEE VENDOR FAQ FOR MORE DETAILS</p>

<p>We will provide the most comprehensive products and service to you!</p>

<p>FEEL FREE TO PLACE YOUR ORDER! Dr Lee</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/b0d3bb362b194a8d7cf6e2060e0c312c">
								<span class="ui teal tiny label tag right floated">A-PVP</span>
								3F-PVP   TOP PURITY
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/b0d3bb362b194a8d7cf6e2060e0c312c">
											<img src="/item-image/b0d3bb362b194a8d7cf6e2060e0c312c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b0d3bb362b194a8d7cf6e2060e0c312c">
										<div class="ui dark-green basic tiny button fluid left aligned">5 grams test sample</div>
										<div class="ui basic left pointing label price">110 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b0d3bb362b194a8d7cf6e2060e0c312c">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams    3f-pvp   </div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>3F-PVP</p>

<p>NO DILUTES OR IMPURITIES</p>

<p>FROM CHINA MANUFACTURERS</p>

<p>99% POWERFUL</p>

<p>5 GRAMS TEST SAMPLE</p>

<p>100 GRAMS MINIMUM ORDER</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/dc467ab86fb8414746e420dcb81c4da3">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								BMDP OF TOP PURITY 99% PURITY
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/dc467ab86fb8414746e420dcb81c4da3">
											<img src="/item-image/dc467ab86fb8414746e420dcb81c4da3?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/dc467ab86fb8414746e420dcb81c4da3">
										<div class="ui dark-green basic tiny button fluid left aligned">dmdp  10 grams test sample </div>
										<div class="ui basic left pointing label price">200 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/dc467ab86fb8414746e420dcb81c4da3">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams dmdp of top purity 99% purity</div>
										<div class="ui basic left pointing label price">600 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>BMDP FROM CHINA MAINLAND MANUFACTURERS</p>

<p>10 GRAMS TEST SAMPLES AVAILABLE</p>

<p>WORLDWIDE SHIPPING</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/b35fa97619e646465e368753e2072ced">
								<div class="ui label floated right tiny">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</div>
								<span class="ui teal tiny label tag right floated">Other</span>
								U-48800
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/b35fa97619e646465e368753e2072ced">
											<img src="/item-image/b35fa97619e646465e368753e2072ced?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b35fa97619e646465e368753e2072ced">
										<div class="ui dark-green basic tiny button fluid left aligned">5grams u48800        (test sample)</div>
										<div class="ui basic left pointing label price">200 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b35fa97619e646465e368753e2072ced">
										<div class="ui dark-green basic tiny button fluid left aligned">10 grams test sample  u-48800</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>U-48800 is classified as a novel opioid.</p>

<p>Top purity  &gt;99% guaranteed no dilutes or impurities</p>

<p>shipping worldwide</p>

<p>test samples available</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/bd0e442cef7f4a607de33fc81ff29cd9">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								5FMBMD2201  (5GRAMS TEST SAMPLE AVAILABLE)
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/bd0e442cef7f4a607de33fc81ff29cd9">
											<img src="/item-image/bd0e442cef7f4a607de33fc81ff29cd9?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/bd0e442cef7f4a607de33fc81ff29cd9">
										<div class="ui dark-green basic tiny button fluid left aligned">5fmbmd2201  5grams  test sample</div>
										<div class="ui basic left pointing label price">100 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/bd0e442cef7f4a607de33fc81ff29cd9">
										<div class="ui dark-green basic tiny button fluid left aligned">100grams    5fmbmd2201  from china manufacturers</div>
										<div class="ui basic left pointing label price">600 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>5FMBMD2201 (5GRAMS TEST SAMPLE)</p>

<p>FORM CHINA MANUFACTURERS</p>

<p>99% PURITY NO DILUTES OR IMPURITIES</p>

<p>WORLDWIDE SHIPPING</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/ad9ed1005bd844a449b2948abe0dc097">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								NEP(N-Ethyl-nor-pentedrone) TOP PURITY FROM CHINA (MAINLAN) SUPPLIERS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/ad9ed1005bd844a449b2948abe0dc097">
											<img src="/item-image/ad9ed1005bd844a449b2948abe0dc097?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/ad9ed1005bd844a449b2948abe0dc097">
										<div class="ui dark-green basic tiny button fluid left aligned">10 grams test sample nep(n-ethyl-nor-pentedrone)</div>
										<div class="ui basic left pointing label price">220 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/ad9ed1005bd844a449b2948abe0dc097">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams nep(n-ethyl-nor-pentedrone) top purity from china (mainlan) suppliers</div>
										<div class="ui basic left pointing label price">3417456 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>NEP(N-Ethyl-nor-pentedrone)</p>

<p>from china mainland manufacturers.</p>

<p>top purity   &gt;99.7%</p>

<p>100 grams</p>

<p>test sample available</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/a38b39f775b04d0e7249cb23760d35f1">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								EUK 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/a38b39f775b04d0e7249cb23760d35f1">
											<img src="/item-image/a38b39f775b04d0e7249cb23760d35f1?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>EUK FROM CHINA MANUFACTURERS</p>

<p>99% OF PURITY NO DILUTES OR IMPURITIES</p>

<p>5 GRAMS TEST SAMPLE AVAILABLE</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/e36d2086dd3445b679653c7036d7684d">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								NEH   N-ehtyl-HEXEDRONE 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/e36d2086dd3445b679653c7036d7684d">
											<img src="/item-image/e36d2086dd3445b679653c7036d7684d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/e36d2086dd3445b679653c7036d7684d">
										<div class="ui dark-green basic tiny button fluid left aligned">10grams test sample neh   n-ehtyl-hexedrone  directly from  china manufacturers</div>
										<div class="ui basic left pointing label price">230 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/e36d2086dd3445b679653c7036d7684d">
										<div class="ui dark-green basic tiny button fluid left aligned">100grams test sample neh n-ehtyl-hexedrone directly from china manufacturers</div>
										<div class="ui basic left pointing label price">740 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>NEH   N-ehtyl-HEXEDRONE  directly from  China manufacturers</p>

<p>test samples available</p>

<p>top purity guaranteed 94% lab tested</p>

<p>leave a massage for any inquiry</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/e14b69a8b6644aa856e795c4495c42a2">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								2-FDCK (2-fluorodeschloroketamine) 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/e14b69a8b6644aa856e795c4495c42a2">
											<img src="/item-image/e14b69a8b6644aa856e795c4495c42a2?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/e14b69a8b6644aa856e795c4495c42a2">
										<div class="ui dark-green basic tiny button fluid left aligned">100g 2-fdck (2-fluorodeschloroketamine) </div>
										<div class="ui basic left pointing label price">200 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/e14b69a8b6644aa856e795c4495c42a2">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams  2-fdck</div>
										<div class="ui basic left pointing label price">1700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>2-FDCK Powder Online 99% Purity Quality 2-Fluorodeschloroketamine (also known as 2-Fl-2′-Oxo-PCM, Fluoroketamine and 2-FDCK) is a dissociative anesthetic. It is an analogue of ketamine where the chlorine group has been replaced by fluorine.</p>

<p>2-Fl-2′-Oxo-PCM (also known as 2-Fluorodeschloroketamine, 2-FDCK, and inaccurately as 2-Fluroketamine, Fluoroketamine, and 2-FK) is a lesser-known novel dissociative substance of the arylcyclohexylamine class that produces dissociative, anesthetic, and hallucinogenic effects when administered. It is structurally related to arylcyclohexylamines like ketamine and deschloroketamine and is reported to produce similar effects.</p>

<p>Like other dissociative substances, it is primarily sought by recreational users for its ability to induce a hallucinogenic “out of body” state referred to as “dissociative anesthesia” (although the extent to which this occurs is highly dose-dependent). It has recently become available through online research chemical vendors where it is</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/f444bb2acfef48947491acb0cc6e9a11">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								5CADB  FROM CHINA(MAINLAND)  MANUFACTURERS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/f444bb2acfef48947491acb0cc6e9a11">
											<img src="/item-image/f444bb2acfef48947491acb0cc6e9a11?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/f444bb2acfef48947491acb0cc6e9a11">
										<div class="ui dark-green basic tiny button fluid left aligned">5 grams  test </div>
										<div class="ui basic left pointing label price">160 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>TOP PURITY   5CADB  99% PURITY FROM THE CHINA(MAINLAND) SUPPLIER</p>

<p>GREAT FORMULA ,LAB PROVEN AND TESTED</p>

<p>5 GRAMS TEST SAMPLE AVAILABLE</p>

<p>SHIPPING WORLDWIDE</p>

<p>BULK BUYERS HAVE DISCOUNTS</p>

<p>WORLDWIDE DELIVERY MAXIMUM 8 DAYS (USA AND UK 7 DAYS)</p>

<p>100% MONEY BACK GUARANTEED FOR UNDELIVERED PARCELS</p>

<p>SALES ARE FROM 100GRMS AND ABOVE</p>

<p>SEE VENDOR FAQ FOR MORE DETAILS</p>

<p>We will provide the most comprehensive products and service to you!</p>

<p>FEEL FREE TO PLACE YOUR ORDER! Dr Lee</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/b5512114c7f24e1a751a75a7e9a6bfc4">
								<span class="ui teal tiny label tag right floated">Stimulants</span>
								HEXYLONE (HEX) 99% PURITY  BEST CHINA SUPPLIERS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/b5512114c7f24e1a751a75a7e9a6bfc4">
											<img src="/item-image/b5512114c7f24e1a751a75a7e9a6bfc4?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b5512114c7f24e1a751a75a7e9a6bfc4">
										<div class="ui dark-green basic tiny button fluid left aligned">10g grams test sample hexylone (hex) 99% purity  best china suppliers</div>
										<div class="ui basic left pointing label price">220 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/b5512114c7f24e1a751a75a7e9a6bfc4">
										<div class="ui dark-green basic tiny button fluid left aligned">100grams hexylone (hex) 99% purity  best china suppliers</div>
										<div class="ui basic left pointing label price">860 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>HEXYLONE (HEX) 99% PURITY  BEST CHINA SUPPLIERS</p>

<p>WHITE COLOR CRYSTALS</p>

<p>IN STOCK</p>

<p>TEST SAMPLES AVAILABLE</p>

<p>LAP TESTED AND PROVEN</p>

<p>LEAVE A MASSAGE FOR AN INQUIRY</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/d32637f5d4ed443a7143dd49f8faa58d">
								<span class="ui teal tiny label tag right floated">Xanax</span>
								Xanax (Alprazolam)
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/d32637f5d4ed443a7143dd49f8faa58d">
											<img src="/item-image/d32637f5d4ed443a7143dd49f8faa58d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/d32637f5d4ed443a7143dd49f8faa58d">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams xanax (alprazolam) test sample.</div>
										<div class="ui basic left pointing label price">2800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/d32637f5d4ed443a7143dd49f8faa58d">
										<div class="ui dark-green basic tiny button fluid left aligned">1kg   xanax (alprazolam)</div>
										<div class="ui basic left pointing label price">3800 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Alprazolam (Xanax)  ON PROMO</p>

<p>top purity 99% guaranteed</p>

<p>Xanax (Alprazolam)  on Promo</p>

<p>100% purity No impurities or Dilutes</p>

<p>100grams test sample available</p>

<p>free shipping worldwide</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/d958c680b01c43257674d9d2d17dcca1">
								<div class="ui label floated right tiny">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</div>
								<span class="ui teal tiny label tag right floated">Other</span>
								EBK
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/d958c680b01c43257674d9d2d17dcca1">
											<img src="/item-image/d958c680b01c43257674d9d2d17dcca1?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/d958c680b01c43257674d9d2d17dcca1">
										<div class="ui dark-green basic tiny button fluid left aligned">5 grams ebk</div>
										<div class="ui basic left pointing label price">24 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/d958c680b01c43257674d9d2d17dcca1">
										<div class="ui dark-green basic tiny button fluid left aligned"> ebk  10 grams test sample</div>
										<div class="ui basic left pointing label price">380 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/d958c680b01c43257674d9d2d17dcca1">
										<div class="ui dark-green basic tiny button fluid left aligned">100 grams ebk </div>
										<div class="ui basic left pointing label price">760 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>EBK</p>

<p>99% OF PURITY</p>

<p>NO IMPURITIES OF DILUTES</p>

<p>100 GRAMS</p>

<p>A stimulant which is seen as a novel designer drug</p>

<p>· Product Name: EBK</p>

<p>· CAS No.: 8492312-32-2</p>

<p>· Formula: C20H27FN2O3</p>

<p>FREE SHIPPING</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/juicyrcking-lee/item/3fdf27c2f69f414b7c0338543b96735b">
								<span class="ui teal tiny label tag right floated">Other</span>
								JWH SERIES PRODUCTS OF HIGH PURITY FROM THE CHINA(MAINLAND) MANUFACTURER
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/juicyrcking-lee/item/3fdf27c2f69f414b7c0338543b96735b">
											<img src="/item-image/3fdf27c2f69f414b7c0338543b96735b?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/3fdf27c2f69f414b7c0338543b96735b">
										<div class="ui dark-green basic tiny button fluid left aligned">10g test sample of  jwh series products of high purity from the china(mainland) manufacturer</div>
										<div class="ui basic left pointing label price">180 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/juicyrcking-lee/item/3fdf27c2f69f414b7c0338543b96735b">
										<div class="ui dark-green basic tiny button fluid left aligned">100g jwh series products of high purity from the china(mainland) manufacturer   (jwh-007 jwh-030 jwh-071 jwh-073 jwh-081 jwh-122 jwh-147 jwh-181 jwh-182 jwh-203 jwh-210 jwh-307 jwh-370 </div>
										<div class="ui basic left pointing label price">2200 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>JWH SERIES PRODUCTS OF HIGH PURITY FROM THE CHINA(MAINLAND) MANUFACTURERS</p>

<p>JWH-007  JWH-030  JWH-071  JWH-073  JWH-081  JWH-122 JWH-147 JWH-181 JWH-182 JWH-203 JWH-210 JWH-307 JWH-370 AND OTHERS</p>

<p>10 GRAMS TEST SAMPLE AVAILABLE</p>

<p>SALES ARE FROM 100GRAMS AND ABOVE</p>

<p>FREE DISCRETE SHIPPING WORLDWIDE MAXIMUM 10DAYS (USA AND UK 4DAYS)</p>

<p>SEE VENDOR FAQ FOR MORE DETAILS</p>

<p>LEAVE A MASSAGE FOR ANY INQUIRY .</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 1143 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
