<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/bestpricedcarts?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@bestpricedcarts</h2>
								<p>I am not half ass vendor.  I do this full time and I take my job serious. I ship out orders within 24 hours.</p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 2 weeks ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 8 hours ago</span>
								</div>
								<br />
								<span class="ui label orange">Gold Account</span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/bestpricedcarts">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/bestpricedcarts">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/bestpricedcarts/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">0</span>
									</a>
									<a class="item active" href="/store/bestpricedcarts/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">16</span>
									</a>
									<a class="item" href="/store/bestpricedcarts/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/621ef8aa0dbc43a25576bd1958dd32ae">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								ALBINO RHINO VAPE CARTRIDGES 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/621ef8aa0dbc43a25576bd1958dd32ae">
											<img src="/item-image/621ef8aa0dbc43a25576bd1958dd32ae?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/621ef8aa0dbc43a25576bd1958dd32ae">
										<div class="ui dark-green basic tiny button fluid left aligned">1 albino rhino cart with 2 to 4 day usps postage incuded </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/621ef8aa0dbc43a25576bd1958dd32ae">
										<div class="ui dark-green basic tiny button fluid left aligned">5 albino rhino cartridges &#43; 2 to 4 day usps shipping included</div>
										<div class="ui basic left pointing label price">85 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>THESE ARE VERY HIGH THC VAPE CARTS. THESE ARE MEDICAL GRADE VAPE CARTRIDGES SOLD AT WHOLESALE PRICES.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/6bd6089a771d4e517dd40f06fc3c7fa8">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								 10 Full Gram Brass Knuckles only $150
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/6bd6089a771d4e517dd40f06fc3c7fa8">
											<img src="/item-image/6bd6089a771d4e517dd40f06fc3c7fa8?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/6bd6089a771d4e517dd40f06fc3c7fa8">
										<div class="ui dark-green basic tiny button fluid left aligned"> 10 full gram brass knuckles only $150</div>
										<div class="ui basic left pointing label price">150 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This is a listing for 10 full gram BRASS KNUCKLES VAPE CARTRIDGES.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/defcf0b24f51471e4ab3ce458b07fa6b">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								ALPINE THC VAPE CARTRIDGES
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/defcf0b24f51471e4ab3ce458b07fa6b">
											<img src="/item-image/defcf0b24f51471e4ab3ce458b07fa6b?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/defcf0b24f51471e4ab3ce458b07fa6b">
										<div class="ui dark-green basic tiny button fluid left aligned">1 alpine thc vape cartridge 2 to 4 day shipping </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/defcf0b24f51471e4ab3ce458b07fa6b">
										<div class="ui dark-green basic tiny button fluid left aligned">10 alpine thc vape cartridges 2 to 4 day shipping </div>
										<div class="ui basic left pointing label price">150 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/defcf0b24f51471e4ab3ce458b07fa6b">
										<div class="ui dark-green basic tiny button fluid left aligned">20 alpine thc vape cartridges</div>
										<div class="ui basic left pointing label price">280 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>ALPINE VAPE CARTRIDGES. SEE BULK SPECIALS. THESE ARE LIMITED TIME OFFERS.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								10 Albinorhino High THC 90% or Higher Medical Grade Shatter Vape Cartridges.   
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
											<img src="/item-image/3f202febe1574b9561361f67a13bac2b?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
										<div class="ui dark-green basic tiny button fluid left aligned">1 albinorhino high thc 90% or higher medical grade shatter vape cartridges.   </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
										<div class="ui dark-green basic tiny button fluid left aligned">2 albinorhino high thc 90% or higher medical grade shatter vape cartridges.   </div>
										<div class="ui basic left pointing label price">35 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
										<div class="ui dark-green basic tiny button fluid left aligned">5</div>
										<div class="ui basic left pointing label price">85 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/3f202febe1574b9561361f67a13bac2b">
										<div class="ui dark-green basic tiny button fluid left aligned">10 albinorhino high thc 90% or higher medical grade shatter vape cartridges.   </div>
										<div class="ui basic left pointing label price">150 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This is a limited time offer for 10 Albinorhino High THC 90% or Higher Medical Grade Shatter Vape Cartridges. This is a hustlers special. No way will you be able to find this high grade in a ceramic cell Vape cartridge.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/05fdc503755f4a7c44a055184c4f2398">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								BUPRENORPHINE SUBLINGUAL 8MG TABLETS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/05fdc503755f4a7c44a055184c4f2398">
											<img src="/item-image/05fdc503755f4a7c44a055184c4f2398?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/05fdc503755f4a7c44a055184c4f2398">
										<div class="ui dark-green basic tiny button fluid left aligned">10 buprenorphine sublingual 8mg tablets</div>
										<div class="ui basic left pointing label price">200 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>THIS IS A LISTING FOR 10 BUPRENORPHINE SUBLINGUAL 8MG TABLETS. I WILL SHIP IT USING OVERNIGHT SHIPPING. I HAVE A LIMITED STOCK OF THESE PILLS.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/d2e9d4a6bad243dc46eed7abb13c15cb">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								One gram/1000mg &#34;Exotic Carts&#34; 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/d2e9d4a6bad243dc46eed7abb13c15cb">
											<img src="/item-image/d2e9d4a6bad243dc46eed7abb13c15cb?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/d2e9d4a6bad243dc46eed7abb13c15cb">
										<div class="ui dark-green basic tiny button fluid left aligned">1 cartridge  = full gram/1000mg per unit &#34;exotic carts&#34; </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/d2e9d4a6bad243dc46eed7abb13c15cb">
										<div class="ui dark-green basic tiny button fluid left aligned">2 cartridges = full gram/1000mg per unit &#34;exotic carts&#34; </div>
										<div class="ui basic left pointing label price">35 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/d2e9d4a6bad243dc46eed7abb13c15cb">
										<div class="ui dark-green basic tiny button fluid left aligned">5 cartridges = full gram/1000mg per unit &#34;exotic carts&#34; </div>
										<div class="ui basic left pointing label price">85 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>One gram/1000mg “Exotic Carts”
-All exotic carts will come individually packaged and labeled.
-All concentrates are medical grade &amp; lab tested, 100% of the exotic distillate comes from indoor exotic flower/nug runs, no trim, no outdoor flower, no pg, no vg, no cuts. This is an easy resale. If you find a better price on rug run Exotic Carts please send me the link and the quantity you plan on buying and if I can bet the price I will.
Feel free to request one of the flavors from below.  If we are out of a specific strain, we will replace it with some our best sellers!
*Strains:
Gorilla Glue
Blueberry Kush
Sunset Sherbet
Girl Scout Cookies
Strawnanna
Mars OG
Zkittlez
Gelato
Grape Pie
Yoda OG
Kosher Kush
Wedding Cake
Pineapple Express
Dosidos
Strawberry Shortcake
Lemonade</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/42bee3c478a642b65a38201444e17393">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								100 NEW DANK CARTS {BLACK BOXES}FOR $15 PER UNIT 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/42bee3c478a642b65a38201444e17393">
											<img src="/item-image/42bee3c478a642b65a38201444e17393?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/42bee3c478a642b65a38201444e17393">
										<div class="ui dark-green basic tiny button fluid left aligned">100 new dank carts {black boxes}for $15 per unit</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>THIS IS A RIDICULOUS DEAL FOR 100 NEW DANK CARTS {BLACK BOXES}FOR $15 PER UNIT PLUS SHIPPING. I WILL KEEP THIS OFFER UP UNTIL I SOLD OUT OF STOCK SET ASIDE FOR BULK OFFERS. SO ACT FAST WHILE THIS OFFER IS POSTED. I AM ON POINT WITH SHIPPING SO YOU CAN PRETTY MUCH COUNT THE DAYS ONCE YOUR ORDER IS ACCEPTED KNOWING IT WILL BE THERE IN 2 TO 4 DAYS UNLESS YOU LIVE IN THE STICKS.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								MEDICAL GRADE THC EDIBLES/GUMMIES 800MG&#43; PER CONTAINER 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
											<img src="/item-image/315a121e25ed43b66743e7c48aa439af?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
										<div class="ui dark-green basic tiny button fluid left aligned">1 container of thc edibles/gummies 800mg&#43; per container </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
										<div class="ui dark-green basic tiny button fluid left aligned">5 containers of thc edibles/gummies 800mg&#43; per container </div>
										<div class="ui basic left pointing label price">90 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
										<div class="ui dark-green basic tiny button fluid left aligned">10 containers of thc edibles/gummies 800mg&#43; per container </div>
										<div class="ui basic left pointing label price">150 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/315a121e25ed43b66743e7c48aa439af">
										<div class="ui dark-green basic tiny button fluid left aligned">20 container of thc edibles/gummies 800mg&#43; per container </div>
										<div class="ui basic left pointing label price">250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>FOR THE $ THESE ARE THE BEST EDIBLES YOU CAN BUY. MY BEST CUSTOMERS ARE PEOPLE WHO SAID THEY NEVER GOT HIGH OFF AN EDIBLE BEFORE. THESE ARE MADE FOR PEOPLE WHO SUFFER FROM
1. Multiple Sclerosis
2. Spinal Cord Injury
3. Spinal Cord Disease
4. Cancer
5. HIV/AIDS
6. Arthritis
7. Epilepsy
8. Inflammatory Bowel Disease
9. End of Life Care
10. Insomnia
THESE ARE STRONG EDIBLES SO IF YOU ARE LOOKING FOR SOME CANDY TASTING EDIBLES GO TO WALMART. THESE ARE MADE STRONG SO YOU WILL TASTE THE MEDICINE AND YOU WILL GET RELIEF FROM WHATEVER AILMENT IS BOTHERING YOU.</p>

<p>EACH CONTAINER COMES WITH 2 GUMMIES IN THEM.  ONE FULL GUMMY IS ENOUGH TO GET EVEN A SEASONED SMOKER HIGH. YOU NEED TO GIVE THE MEDICINE AT LEAST 60 MIN TO 90 MINS BEFORE IT STARTS WORKING IT’S MAGIC. DO NOT EAT ANOTHER GUMMY BEFORE YOU WAIT AT LEAST 90 MINS OR YOU MAY BE IN FOR A LONG TRIP.  THESE ARE SLOW ACTING  LONG LASTING GUMMIES.</p>

<p>I SELL THIS MEDICINE AT A DISCOUNTED PRICE IN BULK BECAUSE I KNOW THERE ARE MANY PEOPLE OUT THERE WHO NEED</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/549ace666bbf4fb453ba02c4dbf55d61">
								<span class="ui teal tiny label tag right floated">Opiates</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								10 suboxone 8mg/2mg I ship everyday and overnight shipping available Mon-Fri***  
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/549ace666bbf4fb453ba02c4dbf55d61">
											<img src="/item-image/549ace666bbf4fb453ba02c4dbf55d61?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This is a listing for 10 suboxone 8mg/2mg I ship everyday and overnight shipping available Mon-Fri***</p>

<p>****I will send your package within 24 hours of marking it shipped. Please keep in mind and understand if overnight is not exactly overnight due to location, time or USPS policy. No one is faster then me with shipping. I take my job serious and I know that people who use the overnight option need their medications.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/5e9f0221292941bc76604856d3893ec4">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								MEDICAL GRADE THC EDIBLES/GUMMIES 800MG&#43; PER CONTAINER 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/5e9f0221292941bc76604856d3893ec4">
											<img src="/item-image/5e9f0221292941bc76604856d3893ec4?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>FOR THE $ THESE ARE THE BEST EDIBLES YOU CAN BUY. MY BEST CUSTOMERS ARE PEOPLE WHO SAID THEY NEVER GOT HIGH OFF AN EDIBLE BEFORE. THESE ARE MADE FOR PEOPLE WHO SUFFER FROM
1. Multiple Sclerosis
2. Spinal Cord Injury
3. Spinal Cord Disease
4. Cancer
5. HIV/AIDS
6. Arthritis
7. Epilepsy
8. Inflammatory Bowel Disease
9. End of Life Care
10. Insomnia
THESE ARE STRONG EDIBLES SO IF YOU ARE LOOKING FOR SOME CANDY TASTING EDIBLES GO TO WALMART. THESE ARE MADE STRONG SO YOU WILL TASTE THE MEDICINE AND YOU WILL GET RELIEF FROM WHATEVER AILMENT IS BOTHERING YOU.</p>

<p>EACH CONTAINER COMES WITH 2 GUMMIES IN THEM.  ONE FULL GUMMY IS ENOUGH TO GET EVEN A SEASONED SMOKER HIGH. YOU NEED TO GIVE THE MEDICINE AT LEAST 60 MIN TO 90 MINS BEFORE IT STARTS WORKING IT’S MAGIC. DO NOT EAT ANOTHER GUMMY BEFORE YOU WAIT AT LEAST 90 MINS OR YOU MAY BE IN FOR A LONG TRIP.  THESE ARE SLOW ACTING  LONG LASTING GUMMIES.</p>

<p>I SELL THIS MEDICINE AT A DISCOUNTED PRICE IN BULK BECAUSE I KNOW THERE ARE MANY PEOPLE OUT THERE WHO NEED</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/7e01da22dc7646f5642a10f1db4f6aba">
								<span class="ui teal tiny label tag right floated">Opiates</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								10 suboxone 8mg/2mg I ship everyday and overnight shipping available Mon-Fri***  
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/7e01da22dc7646f5642a10f1db4f6aba">
											<img src="/item-image/7e01da22dc7646f5642a10f1db4f6aba?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/7e01da22dc7646f5642a10f1db4f6aba">
										<div class="ui dark-green basic tiny button fluid left aligned">10 suboxone 8mg/2mg i ship everyday and overnight shipping available mon-fri***  </div>
										<div class="ui basic left pointing label price">220 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This is a listing for 10 suboxone 8mg/2mg I ship everyday and overnight shipping available Mon-Fri***</p>

<p>****I will send your package within 24 hours of marking it shipped. Please keep in mind and understand if overnight is not exactly overnight due to location, time or USPS policy. No one is faster then me with shipping. I take my job serious and I know that people who use the overnight option need their medications.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/cf7d18c38d0944956cab2958f0d13667">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								MEDICAL GRADE THC EDIBLES/GUMMIES 800MG&#43; PER CONTAINER 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/cf7d18c38d0944956cab2958f0d13667">
											<img src="/item-image/cf7d18c38d0944956cab2958f0d13667?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>FOR THE $ THESE ARE THE BEST EDIBLES YOU CAN BUY. MY BEST CUSTOMERS ARE PEOPLE WHO SAID THEY NEVER GOT HIGH OFF AN EDIBLE BEFORE. THESE ARE MADE FOR PEOPLE WHO SUFFER FROM
1. Multiple Sclerosis
2. Spinal Cord Injury
3. Spinal Cord Disease
4. Cancer
5. HIV/AIDS
6. Arthritis
7. Epilepsy
8. Inflammatory Bowel Disease
9. End of Life Care
10. Insomnia
THESE ARE STRONG EDIBLES SO IF YOU ARE LOOKING FOR SOME CANDY TASTING EDIBLES GO TO WALMART. THESE ARE MADE STRONG SO YOU WILL TASTE THE MEDICINE AND YOU WILL GET RELIEF FROM WHATEVER AILMENT IS BOTHERING YOU.</p>

<p>EACH CONTAINER COMES WITH 2 GUMMIES IN THEM.  ONE FULL GUMMY IS ENOUGH TO GET EVEN A SEASONED SMOKER HIGH. YOU NEED TO GIVE THE MEDICINE AT LEAST 60 MIN TO 90 MINS BEFORE IT STARTS WORKING IT’S MAGIC. DO NOT EAT ANOTHER GUMMY BEFORE YOU WAIT AT LEAST 90 MINS OR YOU MAY BE IN FOR A LONG TRIP.  THESE ARE SLOW ACTING  LONG LASTING GUMMIES.</p>

<p>I SELL THIS MEDICINE AT A DISCOUNTED PRICE IN BULK BECAUSE I KNOW THERE ARE MANY PEOPLE OUT THERE WHO NEED</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/27e4c08e13274bc54d33507416d297f2">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								$50 for 4 KING PENS BEST DEAL ON DARK WEB
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/27e4c08e13274bc54d33507416d297f2">
											<img src="/item-image/27e4c08e13274bc54d33507416d297f2?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/27e4c08e13274bc54d33507416d297f2">
										<div class="ui dark-green basic tiny button fluid left aligned">$50 for 4 king pens best deal on dark web</div>
										<div class="ui basic left pointing label price">50 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This is a listing for a 4 official half gram King Pens.  Very high THC% and amazingly potent. This is a limited time offer. Get 4 OFFICIAL KING PENS FOR ONLY $50</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Alpine Vape Live Resin Carts
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
											<img src="/item-image/61b4d2f7fcb34025573cb0df8194115c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
										<div class="ui dark-green basic tiny button fluid left aligned">1 cartridge </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
										<div class="ui dark-green basic tiny button fluid left aligned">10 alpine live resin cartridges</div>
										<div class="ui basic left pointing label price">170 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
										<div class="ui dark-green basic tiny button fluid left aligned">20 alpine live resin thc carts</div>
										<div class="ui basic left pointing label price">310 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/61b4d2f7fcb34025573cb0df8194115c">
										<div class="ui dark-green basic tiny button fluid left aligned">50 alpine vape live resin thc carts</div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>NEW PRODUCT OFFER!!!  Alpine Vape Live Resin Carts. These are the newest Live Resin Carts on the market and everyone seems to love them. Try some out at this limited time new product price of only $20.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/78a944d7a51f4d8745fd0a66ce12eca3">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Smart Carts High Thc Vape Cartridges
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/78a944d7a51f4d8745fd0a66ce12eca3">
											<img src="/item-image/78a944d7a51f4d8745fd0a66ce12eca3?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/78a944d7a51f4d8745fd0a66ce12eca3">
										<div class="ui dark-green basic tiny button fluid left aligned">1 smart carts high thc vape cartridges</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/78a944d7a51f4d8745fd0a66ce12eca3">
										<div class="ui dark-green basic tiny button fluid left aligned">10 smart carts high thc vape cartridges</div>
										<div class="ui basic left pointing label price">170 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>These are the hottest selling high THC cartridges in the USA. There are a bunch of flavors and strains. Take advantage of this new product price because it will be going up.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/bestpricedcarts/item/9ee9126b5a4843576105331aca441ead">
								<span class="ui teal tiny label tag right floated">Drugs</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								OFFICIAL BRASS KNUCKLE CARTRIDGE. 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/bestpricedcarts/item/9ee9126b5a4843576105331aca441ead">
											<img src="/item-image/9ee9126b5a4843576105331aca441ead?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/9ee9126b5a4843576105331aca441ead">
										<div class="ui dark-green basic tiny button fluid left aligned">1 official brass knuckle cartridge. </div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/9ee9126b5a4843576105331aca441ead">
										<div class="ui dark-green basic tiny button fluid left aligned">10 official brass knuckle cartridge. </div>
										<div class="ui basic left pointing label price">180 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/bestpricedcarts/item/9ee9126b5a4843576105331aca441ead">
										<div class="ui dark-green basic tiny button fluid left aligned">50 official brass knuckle cartridge. </div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>OFFICIAL BRASS KNUCKLE CARTRIDGE. BEST PRICE FOR BRASS KNUCKLES ON THE DARK WEB. SEE SHIPPING OFFERS FOR MORE DISCOUNTED PRICES. FAST SHIPPING YOU WILL HAVE YOUR ORDER WITHIN 3 DAYS ON EAST COAST 5 DAYS WEST COAST.</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 1805 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
