<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/king420?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@king420</h2>
								<p>Best Store For Bulk Cannabis</p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 2 weeks ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 1 hour ago</span>
								</div>
								<br />
								<span class="ui label brown">Bronze Account</span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
								<span class="ui teal label">Insured</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/king420">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/king420">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/king420/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">0</span>
									</a>
									<a class="item active" href="/store/king420/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">19</span>
									</a>
									<a class="item" href="/store/king420/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/bc0e0a5e2d43419767c1c4e25e45483f">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Master Kush Indica Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/bc0e0a5e2d43419767c1c4e25e45483f">
											<img src="/item-image/bc0e0a5e2d43419767c1c4e25e45483f?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/bc0e0a5e2d43419767c1c4e25e45483f">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lbs</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/bc0e0a5e2d43419767c1c4e25e45483f">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound indoor</div>
										<div class="ui basic left pointing label price">1750 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Master Kush Originally named “High Rise” due to this strain being born in an Amsterdam residential building, Master Kush is a supreme indica powerhouse. It is quite possibly one of the most famed strains out there, having received shoutouts from no other.
Master Kush is a 90% indica strain, that is said to be the result of a mix of two lush landrace strains from the renowned Hindu Kush region. While some claim that it is a fusion of Hindu Kush and Skunk #1, one thing is for sure – this strain was proudly created in the middle of urban Amsterdam.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/554dc5e325a542c57005f538a017c69c">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Moonrocks Indoor
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/554dc5e325a542c57005f538a017c69c">
											<img src="/item-image/554dc5e325a542c57005f538a017c69c?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/554dc5e325a542c57005f538a017c69c">
										<div class="ui dark-green basic tiny button fluid left aligned">half pound</div>
										<div class="ui basic left pointing label price">950 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/554dc5e325a542c57005f538a017c69c">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1800 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Hello, If you don’t know what Moonrocks – OG Kush Moonrocks are, and you’re still reading…let me clear it up quickly. A Moonrock is essentially a bud that is soaked in cannabis oil and then covered with kief. They are literally little rocks of goodness with three different layers of cannabis on it. Obviously, the THC count is in the 60%+ margin.
The smell is quite mild, meaning it won’t stink up your car if you leave it in there.</p>

<p>Kief is a fine powder made from dried resin glands (trichomes) that are found on marijuana leaves. Kief is usually high in THC and is known for its opium-like effect, which implies that other there are cannabinoids and phytochemicals in different amounts than the bud that contribute to the recreational and medical experience.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/51de8fef116442de72d72ddd2364a58a">
								<span class="ui teal tiny label tag right floated">E-Liquid</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Exotic Carts Vape Cartridge
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/51de8fef116442de72d72ddd2364a58a">
											<img src="/item-image/51de8fef116442de72d72ddd2364a58a?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/51de8fef116442de72d72ddd2364a58a">
										<div class="ui dark-green basic tiny button fluid left aligned">25 cartridge</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Please have a look. Dont hesitate to contact us when u think ur ready. We deliver to any state. We are in the bay area. Everything gaurenteed with us.</p>

<p>King pen vapes 1 gram carts.
King Louie.
Skywalker og.
Super Lemon.
Banana Sherbert.
Kiwi.
Jilly bean.
Gelato.
Sour diesel.
Fire og.
Pineapple kush.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/672335d8d51e433b6ef2f12c1acfc61d">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Candyland Cannabis Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/672335d8d51e433b6ef2f12c1acfc61d">
											<img src="/item-image/672335d8d51e433b6ef2f12c1acfc61d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/672335d8d51e433b6ef2f12c1acfc61d">
										<div class="ui dark-green basic tiny button fluid left aligned">qp</div>
										<div class="ui basic left pointing label price">5 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/672335d8d51e433b6ef2f12c1acfc61d">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lbs</div>
										<div class="ui basic left pointing label price">890 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/672335d8d51e433b6ef2f12c1acfc61d">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lbs</div>
										<div class="ui basic left pointing label price">1590 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Candyland, a product of the San Francisco Bay Area in California, is a Sativa-dominant strain that was a cross between the infamous Grand Daddy Purple strain (aka Grand Daddy Purps) and a Bay Area Platinum Cookies strain. It was originally bred by Ken Estes who was part of the team that bred the original Grand Daddy Purple.</p>

<p>Candyland buds are small and dense with a slightly darker shade of green than your typical bright green Sativa strain. Its trichomes are plentiful when grown properly, looking as if the bud could have been dipped in sugar. The red hairs are a dull red but run longer than normal, almost making the buds look fuzzy from a distance.</p>

<p>When smoking this strain expect a very earthy flavor with hints of sweets and spices. Its effects lean towards it’s Sativa properties making it a mentally stimulating strain with little to no body effects when smoked in smaller doses. The strain is great for social functions or creative activities - anything where your brain must be active and engaged. When</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/ef7dbb4101644f887317d668493ea2e7">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Alaskan Thunder Fuck Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/ef7dbb4101644f887317d668493ea2e7">
											<img src="/item-image/ef7dbb4101644f887317d668493ea2e7?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/ef7dbb4101644f887317d668493ea2e7">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lbs</div>
										<div class="ui basic left pointing label price">1800 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>The Alaskan Thunder Fuck (ATF for short) strain originates from the Matanuska Valley in Alaska and its Sativa genetics are somewhat of a mystery. Being a Sativa, this strain really only affects your head and is a popular choice of medication for medical marijuana patients suffering from chronic migraines, PTSD, sleep disorders, and more.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/038ee2cd698f4c5b446606351eb60462">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								 White Widow Bud
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/038ee2cd698f4c5b446606351eb60462">
											<img src="/item-image/038ee2cd698f4c5b446606351eb60462?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/038ee2cd698f4c5b446606351eb60462">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">3300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>THC: 18% - 25%, CBD: 1%, CBN: 1%
White Widow is a hybrid strain that many have been familiar with since the early 90’s. This strain has global popularity and can easily be found atop a menu at almost any Amsterdam coffee shop. The prevalence of White Widow has greatly increased due to the television show Weeds and references within the rap industry. This strain holds a pretty balanced 60:40 sativa/indica ratio ( Brazil Sativa x South Indian Indica) that leads one to a cognitive driven high with a relaxing undertone. Patients will opt for White Widow if they’re seeking a strain that allows them to unwind and relax while still maintaining a sense of mental awareness. This strain is especially good for depression, stress, pain, and PTSD. White Widow gets its name from the fact that it is literally blanketed in white crystals.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/abb3e73633114c6a63dd3ac136dab6ac">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Blue Cheese Cannabis
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/abb3e73633114c6a63dd3ac136dab6ac">
											<img src="/item-image/abb3e73633114c6a63dd3ac136dab6ac?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/abb3e73633114c6a63dd3ac136dab6ac">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lbs</div>
										<div class="ui basic left pointing label price">800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/abb3e73633114c6a63dd3ac136dab6ac">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Blue Cheese is a classic indica-dominant hybrid that delivers a memorable taste alongside a balanced high. Its distinctive name has more to do with its genetic lineage, a cross between the popular Blueberry and the UK-native strain Cheese, than its taste, which is surprisingly fruity.</p>

<p>The Blue Cheese name has more to do with its lineage than taste. Blue Cheese achieves its potency with an average THC composition of about 15% to 20%.
Breeder Big Buddha Seeds, who perfected a phenotype of parent strain Cheese, is credited with introducing one variety of Blue Cheese to the cannabis market. The Netherlands-based operations Barney’s Farm and Royal Queen Seeds also produce and sell seeds for a distinct Blue Cheese variety.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/08f8e837114b445740aa4cc3d945c81e">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Bubba Kush
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/08f8e837114b445740aa4cc3d945c81e">
											<img src="/item-image/08f8e837114b445740aa4cc3d945c81e?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/08f8e837114b445740aa4cc3d945c81e">
										<div class="ui dark-green basic tiny button fluid left aligned">10 pounds bulk offer</div>
										<div class="ui basic left pointing label price">13000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Bubba Kush has a very invigorating aroma, smelling much like coffee and roasted nuts at times. It has a hint of pine and earthiness, which rounds up its full-bodied fragrance. When smoked, Bubba Kush leaves a cloud of spice and sweetness that lingers in the vicinity.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/d423facb15ea4c617ee4b2657350cc92">
								<span class="ui teal tiny label tag right floated">Hash</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Cannabis Oil and Hash Oil
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/d423facb15ea4c617ee4b2657350cc92">
											<img src="/item-image/d423facb15ea4c617ee4b2657350cc92?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/d423facb15ea4c617ee4b2657350cc92">
										<div class="ui dark-green basic tiny button fluid left aligned">25 grams</div>
										<div class="ui basic left pointing label price">500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Hash oil is an oleoresin obtained by the extraction of cannabis or hashish. It is a concentrated form of the plant containing many of its resins and terpenes – in particular, tetrahydrocannabinol, cannabidiol, and other cannabinoids. There are a variety of extraction methods, but most involve a solvent such as butane or ethanol.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/af1d5d02de0d474747fe7417ee7e0a00">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								OG KUSH CANNABIS 1LBS
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/af1d5d02de0d474747fe7417ee7e0a00">
											<img src="/item-image/af1d5d02de0d474747fe7417ee7e0a00?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/af1d5d02de0d474747fe7417ee7e0a00">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1250 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Kush refers to a subset of strains of Cannabis indica. The origins of Kush Cannabis are from landrace plants mainly in Afghanistan, Northern Pakistan and North-Western India with the name coming from the Hindu Kush mountain range. “Hindu Kush” strains of Cannabis were taken to the United States in the mid-to-late</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Gorilla glue
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
											<img src="/item-image/6373072e9ed94a2d542d19a14bb4f65d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
										<div class="ui dark-green basic tiny button fluid left aligned">1 oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
										<div class="ui dark-green basic tiny button fluid left aligned">qp</div>
										<div class="ui basic left pointing label price">500 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
										<div class="ui dark-green basic tiny button fluid left aligned">hp</div>
										<div class="ui basic left pointing label price">950 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/6373072e9ed94a2d542d19a14bb4f65d">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1800 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Gorilla Glue #4 (also known as GG4) created by GG strains is a Sativa-dominant hybrid, a multiple award-winning strain, famous for its high THC content. It averages 18 to 25 percent THC, but you may find it as high as 32 percent at some dispensaries. The CBD is very low, ranging between 0.05 and 0.1 percent.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/0a67b749e16548655c982431a44574e9">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								AK-47 Marijuana Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/0a67b749e16548655c982431a44574e9">
											<img src="/item-image/0a67b749e16548655c982431a44574e9?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/0a67b749e16548655c982431a44574e9">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>AK-47 is a Sativa-dominate hybrid with bright white coloring. Despite its violent name, the strain imparts a very mellow feeling and can even leave one stuck in a state of “couch lock”. It also leads to increased creativity. For the most part, however, AK-47 will leave you feeling uplifted, peaceful and euphoric. Many people enjoy using it while listening to music. Outside of dry mouth and eyes, the strain can also cause users to feel paranoid and sometimes dizzy. Some users also experience minor headaches.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/a80296d740f241994f94ea0c57f5a80d">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Sour Diesel- Sativa Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/a80296d740f241994f94ea0c57f5a80d">
											<img src="/item-image/a80296d740f241994f94ea0c57f5a80d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/a80296d740f241994f94ea0c57f5a80d">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">2000 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/a80296d740f241994f94ea0c57f5a80d">
										<div class="ui dark-green basic tiny button fluid left aligned">2 pounds</div>
										<div class="ui basic left pointing label price">3600 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/a80296d740f241994f94ea0c57f5a80d">
										<div class="ui dark-green basic tiny button fluid left aligned">5 pound discount</div>
										<div class="ui basic left pointing label price">6500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Sour Diesel is known by experienced smokers from around the world, and these genetics hail from California’s Emerald Triangle. Our Diesel strain is suited to indoor or outdoor growers, and the plant’s Sativa characteristics are easily seen in the plant’s huge structure and large branches that fill with resinous buds after 10 weeks of flowering.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/16bebb91607c47a97811e6114da5f31a">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Granddaddy Purple  (aka Grand Daddy Purps)
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/16bebb91607c47a97811e6114da5f31a">
											<img src="/item-image/16bebb91607c47a97811e6114da5f31a?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/16bebb91607c47a97811e6114da5f31a">
										<div class="ui dark-green basic tiny button fluid left aligned">half pound indoor</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/16bebb91607c47a97811e6114da5f31a">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound indoor</div>
										<div class="ui basic left pointing label price">1700 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Grand Daddy Purple (aka Grand Daddy Purps) is one of the most popular Indica strains on the west coast and is perhaps the most well known ‘purple’ cannabis strain in the US.
Created back in 2003 by Ken Estes in the San Francisco Bay Area, Ken and his team sought out to create the ultimate Indica hybrid by merging two strains with fantastic genetics - Purple Urkle and Big Bud. The product of these two, Grand Daddy Purple, is a spitting image of it’s parents’ two best qualities - the deep and dark purple hue from Purple Urkle and the overgrown, dense buds of Big Bud</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/64c9120a692740485d8d75da90f1ed29">
								<span class="ui teal tiny label tag right floated">Prerolled joints</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Prerolled Cannabis Joints
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/64c9120a692740485d8d75da90f1ed29">
											<img src="/item-image/64c9120a692740485d8d75da90f1ed29?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/64c9120a692740485d8d75da90f1ed29">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>A pre-roll is a joint or blunt of marijuana that was prepared before its intended time of consumption. One can purchase pre-rolls at a dispensary, which prove to be helpful if you don’t want to roll a joint yourself.
it contains delicious, top-shelf strains, smooth, even burn More so, perhaps it is just the convenience of being able to smoke nearly anywhere.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/170fffb881074ba269559867058807e8">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Jack Herer Sativa
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/170fffb881074ba269559867058807e8">
											<img src="/item-image/170fffb881074ba269559867058807e8?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/170fffb881074ba269559867058807e8">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/170fffb881074ba269559867058807e8">
										<div class="ui dark-green basic tiny button fluid left aligned">2 lbs</div>
										<div class="ui basic left pointing label price">2900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/170fffb881074ba269559867058807e8">
										<div class="ui dark-green basic tiny button fluid left aligned">5 lbs</div>
										<div class="ui basic left pointing label price">6000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Jack Herer Medical Marijuana are elongated in shape. Weed For Sale Online, In fact, it looks more cylindrical compared to other buds. Online Kush Shop, It is light green in color with light orange hairs weaving through it. Order Marijuana Online, Chocolope has dark green leaves with brassy orange pistils.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/835d5f27c99240d446291ef8ddc32040">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Purple Haze Cannabis
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/835d5f27c99240d446291ef8ddc32040">
											<img src="/item-image/835d5f27c99240d446291ef8ddc32040?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/835d5f27c99240d446291ef8ddc32040">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">2000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Purple Haze marijuana is a 60⁄40 Sativa dominant marijuana hybrid. The breeders of this kush remain unknown. Named after Jimi Hendrix’s song, It induces psychedelic cerebral haze upon consumption, such effect may not be suitable for everyone. It’s buds are dark green with purple, some nugs have bright blue hues.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/05b94569d22e4f244e2bd13f00f1a2b7">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Durban Poison Strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/05b94569d22e4f244e2bd13f00f1a2b7">
											<img src="/item-image/05b94569d22e4f244e2bd13f00f1a2b7?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/05b94569d22e4f244e2bd13f00f1a2b7">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lbs</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Dutch Passion original Durban Poison is a classic outdoor and indoor variety, tough enough for cannabis outdoor growing in extreme Northern/Southern latitudes. Durban Posion seeds come originally from South Africa and was inbred over many years during the 70’s. With each generation, Durban Poison® became increasingly adapted to the windy and rainy conditions of Northern Europe. During the breeding process, some unknown indica genetics have been crossed with Durban Poison seeds. Durban Poison plant may initially show wide indica style leaves but the growth pattern allows the sativa dominance to show by the end with long blooms pierced by slim sativa-style leaves.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/king420/item/d7afe0aeb49c4e93428dae6fc5d7a888">
								<span class="ui teal tiny label tag right floated">Cannabis</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								King Louie XIII Og
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/king420/item/d7afe0aeb49c4e93428dae6fc5d7a888">
											<img src="/item-image/d7afe0aeb49c4e93428dae6fc5d7a888?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/king420/item/d7afe0aeb49c4e93428dae6fc5d7a888">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lbs</div>
										<div class="ui basic left pointing label price">925 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/d7afe0aeb49c4e93428dae6fc5d7a888">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lbs</div>
										<div class="ui basic left pointing label price">2000 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/king420/item/d7afe0aeb49c4e93428dae6fc5d7a888">
										<div class="ui dark-green basic tiny button fluid left aligned">5 lbs</div>
										<div class="ui basic left pointing label price">6400 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Hi i will like to say that King Louie XIII is an indica dominant hybrid strain which is super strong. With a 70:30 indica/sativa ratio, it has a sensational 20% THC content. The strain is named after the King Louie XIII of France for a very good reason and it does not disappoint. The buds are incredibly dense and large all the while being covered with orange hairs. You will notice light greens amongst the whites, it is a treat for any cannabis user to say the least. The smell is incredibly fresh, heavy, but sweet at the same time. Additionally, it is very tasty, it is a perfect blend of sweet and sours, thus making it an ideal strain to medicate with. King Louie XIII will overwhelm your senses, it is not a creeper and instead hits hard. You will experience a heavy feeling throughout your body and head all the while feeling</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 688 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
