<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a class="item header-logo header" href="/">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg version="1.1" width="25" height="29" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a href="/settings/user" class="item">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a href="/referrals" class="item">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input name="csrf_token" value="" type="hidden" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a class="ui button fluid green tiny" href="/app/download">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a class="item" href="/feed">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a href="/settings/language/de" class="item fluid">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a class="item fluid" href="/settings/language/en">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a href="/settings/language/es" class="item fluid">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a class="item fluid" href="/settings/language/tr">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/geolocation?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@geolocation</h2>
								<p></p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 3 weeks ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 6 days ago</span>
								</div>
								<br />
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
								<span class="ui label dark-green">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/geolocation">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item active" href="/store/geolocation">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/geolocation/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">3</span>
									</a>
									<a class="item" href="/store/geolocation/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">115</span>
									</a>
									<a class="item" href="/store/geolocation/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui grid divided top-aligned">
							<div class="twelve wide column">
								<div class="ui form segment contacts">
									<h3 class="ui dividing header">Contact Information</h3>
									<div class="field">
										<label>PGP</label>
										<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP v2.0.8
Comment: https://sela.io/pgp/

xsFNBFymmYUBEACu3HpsuiHKNoOLYeFEPmf33j4H1GXKONJ9d4JFQQHw0KWwoO4/
L8prrYe6D38q7pYPEX/6L5Mflu4aDrL09CyH4MVSbZYerxfVl6xf8SR0v/wsO1sJ
2MzMfgOLpyJlS4SJUoUf39cKkUBmJ86tJ/hqsyCx7iuLG2fPvNpzCpzxWXojJjUH
kxdYmjYKvpUj00dNDK7U0/myxOZQYxJa2bJMtzyryh5oI1IeSQcjJzTzX95UMSth
Qo2LWo9qeo62ifu7MRKXn5b59Ga5ml0At8y4m2CUvb/tRTLho4hJVZjn3/LfNqP6
fdeee84ru2M3teQmBx48AhZm7cagDnZbCT7xRKEzgNuC3WjIZ1/vbNKcA6Dhf74V
Nj5UyWN59FUuAqJhQYdQniGZSxtswB6xCFSyMDVyzPIJjhZf/H65S0ItnRtE942S
Bcd0y37Ihphzh0KHnt99FhscQVM6s3MPF8nPILE90q6ET1fKVD6jBCw0UVW90945
D&#43;8944djCTNCzwRf9MiNOyypHLwwHqybzdVzQO5wpH54JqLW6tLRH6G9aoeSpCFZ
lvSdKCsHRvQ1O/4ysiWcVTpjzy8EP0PWL839denGG2yZu&#43;KTXqOrenrA52QZt22p
8KUFbkO99Gv1ZZ6eLkYxTRQO2Lshr5QI9&#43;DbDCJl/S0vMuyf1JYigjpnTwARAQAB
zQtnZW9sb2NhdGlvbsLBcAQTAQoAGgUCXKaZhQIbLwMLCQcDFQoIAh4BAheAAhkB
AAoJEM6Fexu4K7dFgXcP/2MtY66n&#43;gkPlZ20vLOwV9WXQ5ABwi/uCx1GHtu7tU23
onFSt6MLuKVHlfGJWcbbKYD6zeWMOl3UmuVceqhRAed0Eayrhtde6M63Qc3ONMXO
fVxCj5YmgAR3mgZtraIRKOhZU1nSITMZNLC7ygMrJkXp9vARjZzQaVQ3Pba3JEgL
l8yTZcD11uI8t7WfiRyPe5vta&#43;521Fma2L73vPh2utwJDe57ag4TWtXcQZm4cC2k
rnNyQ7ocGARiLomN8UnySWDXZceYSnGZDosBYIrcJ4h7S2oyc57ADeQNg2u&#43;pvc4
gK7czvrqdm4qZzX&#43;g0q/Km5&#43;zF85OWoSvvvk&#43;bCHcq92zOFDMpkdud2nYCWMHUM9
khUwXzSOy/1zysqaGdiL7yN2RE15&#43;8c7lyN8B9qukSHZq0bScB7Hf7&#43;JO/y7wksI
ru8&#43;jP0NEe9KCx8g61xb83dfHOCvyIGj9gMYkN7YBMoSVlh2mybEWrYmlm01iXbt
SCyuS67haVOBAjwqsr4Hpl1ESYvV7TRMU1m8hSYtdVinqwhrjylHeSdIgWtF&#43;2B4
4l7olrdKWKkaxSrATYUCZDKaUQQWCri4QQs2MA4ayCdghC7QU6bmA2rA3ong/lS0
POsQu/vyzf1Q2PCTO4Q&#43;y3QyTjSsuCXCZXTDIOSCeVS5AByDmKu1ZASh7uC2BiH/
zsBNBFymmYUBCADRRDQZHm/94oAscDdN3wPxnRsbuiK&#43;eIgnNVYmk0EtgWQ/bgPt
7wamiorMhp4ZkTcuveK1nbUMf05qFySvM5HqEX/NnU5xccEIMlSmschSoO86V9Lz
KnRoJUr5wZnLXOvTZosrv3/i9JwWe6JyEtrq&#43;bLc11cShibxzlf8gFwS&#43;BldzeiB
7T3clePf35lIB3ViRKUPheWM6SNOoGoTopAs7lMlTnii61Hf6g1V6MmQXH5hoez5
COSdyfH4TWCJT1aZ&#43;Mj9uB&#43;5Jc2bYdXn4ox5zoRhjfQXy062x2q7MLfmt5gBQra6
G7X71CfKow5UTCRLIyHFulFTfDeqy3a8GbRpABEBAAHCwoQEGAEKAA8FAlymmYUF
CQ8JnAACGy4BKQkQzoV7G7grt0XAXSAEGQEKAAYFAlymmYUACgkQOKQiCyQ4gRLs
Pgf/f8Jbgc/3tTM4oYrhAZ5ugiA2/C18DiqOkytVfeZ8zQQqxEfDfHu6s5A9L9P9
XwKqpl8hqI5D1ZoYVStKncppEJHrtbS29w/ovAHXzqQNN5D77NJEuoOlG&#43;isWIo&#43;
DvPc4sNqfmwi2Wmqt2kOh54ZNQKB92u60Yci3LFDMqTUWyqRifDmDh7nTVZecYuK
h8fziz2IR43aG//DkWE8aR/6ypmXg6547nl9YUKniQMNkAcz1Y9zSvU9JeouBCnw
J8Z97&#43;fT/gYhXBUsm&#43;a7bNgRKR3PNnkQTcs7Q7KFUUqxCk7HDXXZsHdNPGisKQK1
xlpUTfo3XD2m7OtwCYJB0IIRZ4rqEAChF/nBnpHIvl38J6cQoxcGf0viCb5NGv9Q
KF4R1CJB9tSz2t/1S9P9HtCV9spJTpiLqKfgaVxh904eLJoVI/4yVAuf9x4LtiQJ
ZJzDqGsjkj/tupbdIdMHAYMrXp4I2e4FYOzZpmjyz/QGNrCR&#43;7BzCavgQdDJw808
cmVFuWRXiYDdLKvQ/GXIs/FMjNdXAilRBxBJ9O8&#43;RB&#43;3bj8yEziT0zLMsqVjvQ3B
HFmEzxQTU6z6fcKFolf5RwJ/Ym8uzlyukKPjk/eGnHKqprI/6kZ&#43;oHNJPRoKgXwq
VibIoorJpquAz2H7yvgDCoybh/kfdST2zKHH3Z2AeyWXi92PY3oCj9uzMuFDJw7J
LCwIfKb4AFW3f4HGtrZI8RvtAGqJTMfUBTGJ7hbEvRyI5PTIa11l2LvlckiYP2Vq
TQYnaRKZP7HZNWblvn5JJbuxizeOkC6qVog9Io74528dpAHEF6QywpVNOiGfY7qz
ASuMxbtE5Roqa4iYIsHzEtD76MheME&#43;GFvCLYK9pWF0bqtg&#43;CJc4iNoh31TbRVmr
QgvbKB4aZzeR2TAzRVoVSeNlwa1q2oqhfPhdpzx1LiJFrCbyB5sa83vuXDAtz3S3
WqsVt0boalLbnRpKp5hV6RVqwvwJZoMScGTApqwfNtvqJl/YQcGnCE2dv2JBSkKk
1O5KUaYaNM7ATQRcppmFAQgAyFGi4H5sL0Xe4xt/T3hu7GZhFFKH0ndHer9SEj3U
MnXNd&#43;OHIkBdlTF/xA2IMT&#43;6U8tie7XYHQC1KNoSHpJnuNkldQ5/A6pbW3UWkmTH
N/PyPpwAWaLN2/INBz8xBh/sckRIpXw3QXx&#43;cOfbeXy1d1jjrWZRw8JgXC3HIERj
zatf2rAs4LxY7bxHKo72RdtzAI47/iScnENdOhIf3wvWBIiHjXu&#43;fZLbV82LNUZm
vTmNKnhz&#43;Hv6M7GzB1iorDJpJ1Pj2dTUd7ln8UqSKet96TMVoe3Jys4ytY44AM0n
pBBy3429DWEMY/CMfm&#43;2q56W0hIpIIGP4dHndbL7TeBPNQARAQABwsKEBBgBCgAP
BQJcppmFBQkPCZwAAhsuASkJEM6Fexu4K7dFwF0gBBkBCgAGBQJcppmFAAoJEGyK
CkDU3Tmz9qoIAKcuFd4uiAWTtlny3tww&#43;pj6BHny4PjdIdJw5LXRvXaIBVHhhIvR
JUVQYWR2QGsWMlCiWKGMWuSXpuEZDvuQ339KRfqbnhF1XPJ5bJQUQh4jRs6/EGAR
PTxedTckq6BlXrdZijiKA7snN/2hHxFllPL41tgY3qg8PH&#43;t6idY1eP&#43;ScQFXuEZ
aR005RUKhd9YIzZc6G69EyiVSWLi/faW17BfVOR34OjZ6oBXuSOE/Cwknl6y/55H
JOajCYKsCT&#43;yHChim4WK5zZ&#43;aGsmMz3kDH5Ch5Iqg0BW5mAZMUTyklZXdGB8lP9e
4oo2JZo5yXOz/6LLcHipB2Flc8kcWhELogUjexAAmgnqzk0vFtsjeKaPqyzrgsp8
dIj5iSZq3UZg4Ut5fs0zJCVCyex6s3C2PVBmwIYUZrnzVGSzp&#43;T98avKp2ZVCPEo
WX9nnV3GBh90vqImZTs8dkaXVS/k/sNN3UYVAbwQGcDNgcA&#43;GzqUwRjx7UjkLs20
jKQ&#43;bHT9jJSuhqCh8bY5ocXXCw4gVQ&#43;xzjnFKPJGBxFym8&#43;QOOuIjBda9pw&#43;qy5Z
UbsXkd3Z6PivJWmYet3oM5FKnRZ8S6zONgx7l/jFGchXvODtlESPlDao&#43;x4uVnrF
/SHRIzfshNA7wLA8tYr66rdg/j14fedkM6IlWTGKfL3F2c0a7N1V4N2qGmBPpwA&#43;
xn1WkaTtrlQxPFVcOFm0SEdFA7NtINcgA23CZUh6tSim6X5jF6smE&#43;A&#43;OK&#43;BQnDi
Yd5RfyUcrFc/1tS8jSAxh13KeY96UZa&#43;lvlm8ZEA244WJEChdAzLoktXwzrBNpVd
v7rk2HQhmKAK7pjE0FqZqSyUEqIzKZ3nY3gYUhglpwniLuO9Y49SkglNBC1GQIqv
ibogOs&#43;vpnwpCzPYqF8E5UbRmK8a/tO0fPimjmW7XJEvp/&#43;XCEXO2GcNg&#43;Id3kxM
dRpLObPN6ZbRBf9Y3Jjv2NAp/CUGCxA0vgNmDEefgiLa96mzSaE7TLsN5oocx24V
5bN1wYO/yZeSputsFK4=
=tOgw
-----END PGP PUBLIC KEY BLOCK-----</pre>
									</div>
								</div>
							</div>
							<div class="four wide column t-left-menu-items">
								<div class="ui fluid menu vertical secondary">
									<a class="item" href="?section=info">About</a>
									<a class="item active" href="?section=contacts">Contact Information</a>
									<a href="?section=vendor_statistics" class="item">Statistics</a>
									<a class="item" href="?section=staff">Staff</a>
									<a class="item" href="?section=agreement">Agreement</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a class="item" href="http://34n4am6fxu4dnv66.onion/blog">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 260 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
