<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/ub0364?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@ub0364</h2>
								<p>We Trade on Counterfeit Bills of almost all currencies, Drugs, Carding, Vape Carts / Pens, CBD Oil and Isolate Powder, Medical Marijuana, Passports, Drivers License, ID Cards, Certificates, Visas, Social Security Number (SSN), and Pills at very affordable and discounted prices …</p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 7 months ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 7 hours ago</span>
								</div>
								<br />
								<span class="ui label brown">Bronze Account</span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
								<span class="ui label dark-green">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/ub0364">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/ub0364">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/ub0364/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">2</span>
									</a>
									<a class="item active" href="/store/ub0364/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">14</span>
									</a>
									<a class="item" href="/store/ub0364/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								God’s Gift 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
											<img src="/item-image/80bbb06063ca439d52b222a98831fdc9?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
										<div class="ui dark-green basic tiny button fluid left aligned">1/4 lb</div>
										<div class="ui basic left pointing label price">550 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/80bbb06063ca439d52b222a98831fdc9">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>A strain that became popular in California dispensaries in 2005, God’s Gift contains flavors of grape, citrus, and hash. Its parents are Granddaddy Purple and OG Kush. No matter what your belief system, this strain is a “gift” with its strong THC content of 18-22%. Its flowering time usually takes approximately 8-9 weeks.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/dcedfc7ca5e74c196e6e7050f7ede10d">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								White Widow 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/dcedfc7ca5e74c196e6e7050f7ede10d">
											<img src="/item-image/dcedfc7ca5e74c196e6e7050f7ede10d?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/dcedfc7ca5e74c196e6e7050f7ede10d">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/dcedfc7ca5e74c196e6e7050f7ede10d">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Among the most famous strains worldwide is White Widow, a balanced hybrid first bred in the Netherlands by Green House Seeds. A cross between a Brazilian sativa landrace and a resin-heavy South Indian indica, White Widow has blessed every Dutch coffee shop menu since its birth in the 1990s. Its buds are white with crystal resin, warning you of the potent effects to come. A powerful burst of euphoria and energy breaks through immediately, stimulating both conversation and creativity. White Widow’s genetics have given rise to many other legends like White Russian, White Rhino, and Blue Widow. Still, many growers prefer cultivation of the original White Widow, which flowers in about 60 days indoors.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/f8291d01eb9b478b59d2f150be254420">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Godfather OG is an indica dominant strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/f8291d01eb9b478b59d2f150be254420">
											<img src="/item-image/f8291d01eb9b478b59d2f150be254420?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/f8291d01eb9b478b59d2f150be254420">
										<div class="ui dark-green basic tiny button fluid left aligned">1 oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/f8291d01eb9b478b59d2f150be254420">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 pound</div>
										<div class="ui basic left pointing label price">800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/f8291d01eb9b478b59d2f150be254420">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Godfather OG is an indica dominant strain crossed from OG Kush and Granddaddy Purple that is known to promote sleep. Godfather OG. These flowers smell earthy like pine and citrus with subtle undertones of grape. This strain is known to relieve pain and tension while leaving users feeling extreme relaxation and an uplifted mood. Godfather OG is referred to as the Don of all Kush strains.</p>

<p>Being an indica dominant hybrid strain, it has a 60:40 indica sativa ration with an amazing 22-25% THC content. The strain produces exquisite buds that are nothing short of a delight to look at. The strain is primarily produced by crossing Bubba Kush, L.A Confidential and GDP.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/cbd07610ef5c4cab5096664ade40a255">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Serious Happiness
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/cbd07610ef5c4cab5096664ade40a255">
											<img src="/item-image/cbd07610ef5c4cab5096664ade40a255?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/cbd07610ef5c4cab5096664ade40a255">
										<div class="ui dark-green basic tiny button fluid left aligned">1 oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/cbd07610ef5c4cab5096664ade40a255">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 pound</div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/cbd07610ef5c4cab5096664ade40a255">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Serious Happiness by Serious Seeds is a hybrid cross of THC-dominant genetics. Created by crossing a potent AK-47 mother with Warlock, a stress-relieving indica-dominant hybrid, Serious Happiness stays true to its name, offering a deep body buzz and a joyous state of mind.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/68c133eec7794ef05488a6336c6d103a">
								<div class="ui label floated right tiny">
									<i class="icon thumbs up"></i>
									<span>5</span>
								</div>
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Gorilla glue
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/68c133eec7794ef05488a6336c6d103a">
											<img src="/item-image/68c133eec7794ef05488a6336c6d103a?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/68c133eec7794ef05488a6336c6d103a">
										<div class="ui dark-green basic tiny button fluid left aligned">1/4 lb</div>
										<div class="ui basic left pointing label price">500 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/68c133eec7794ef05488a6336c6d103a">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/68c133eec7794ef05488a6336c6d103a">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1600 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>GG4, formerly known as Gorilla Glue #4, developed by GG Strains, is a potent hybrid strain that delivers heavy-handed euphoria and relaxation, leaving you feeling “glued” to the couch. Its chunky, resin-covered buds fill the room with pungent earthy and sour aromas inherited from its parent strains, Chem’s Sister, Sour Dubb, and Chocolate Diesel. Taking first place in both the Michigan and Los Angeles 2014 Cannabis Cups as well as the High TimesJamaican World Cup, this multiple award-winning hybrid’s supremacy is no longer a secret, and consumers will search far and wide to get their hands sticky with GG4.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Girl Scout Cookies, or GSC
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
											<img src="/item-image/959168cfa32e42647d5c93eb68b5ad38?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">450 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1600 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/959168cfa32e42647d5c93eb68b5ad38">
										<div class="ui dark-green basic tiny button fluid left aligned"> 2 lbs</div>
										<div class="ui basic left pointing label price">2800 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Girl Scout Cookies, or GSC, is an OG Kush and Durban Poison hybrid cross whose reputation grew too large to stay within the borders of its California homeland. With a sweet and earthy aroma, Girl Scout Cookies launches you to euphoria’s top floor where full-body relaxation meets a time-bending cerebral space. A little goes a long way with this hybrid, whose THC heights have won Girl Scout Cookies numerous Cannabis Cup awards. Patients needing a strong dose of relief, however, may look to GSC for severe pain, nausea, and appetite loss.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/467edf6ad464419851921ac672504abd">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								super lemon haze .Lemon G.
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/467edf6ad464419851921ac672504abd">
											<img src="/item-image/467edf6ad464419851921ac672504abd?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/467edf6ad464419851921ac672504abd">
										<div class="ui dark-green basic tiny button fluid left aligned">125 g</div>
										<div class="ui basic left pointing label price">730 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/467edf6ad464419851921ac672504abd">
										<div class="ui dark-green basic tiny button fluid left aligned">250 g</div>
										<div class="ui basic left pointing label price">1350 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>super lemon haze .Lemon G is a sociable strain and, as the name suggests, has a strong lemon fragrance. Taste-wise, this strain is fairly mellow and does not necessarily exhibit the strong citrus properties found in its scent.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Durban Poison a qp
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
											<img src="/item-image/d8114b1a04844e4f4374f27bdfc0ae15?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">500 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">900 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1400 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/d8114b1a04844e4f4374f27bdfc0ae15">
										<div class="ui dark-green basic tiny button fluid left aligned"> 2 lbs</div>
										<div class="ui basic left pointing label price">2200 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>This pure sativa originates from the South African port city of Durban. It has gained notoriety worldwide for its sweet smell and energetic, uplifting effects. Durban Poison is the perfect strain to help you stay productive through a busy day, when exploring the outdoors, or to lend a spark of creativity. Growers and concentrate enthusiasts will both enjoy the over-sized resin glands which make this strain a quality choice for concentrate extraction. The buds are round and chunky, and leave a thick coating of trichomes on almost all areas of the plant.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								OG Kush Marijuana
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
											<img src="/item-image/99d00c6249b1443c56b0976da064eb12?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
										<div class="ui dark-green basic tiny button fluid left aligned">1/4 lb</div>
										<div class="ui basic left pointing label price">600 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/99d00c6249b1443c56b0976da064eb12">
										<div class="ui dark-green basic tiny button fluid left aligned">3 lb</div>
										<div class="ui basic left pointing label price">3100 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Buy og kush online( overnight delivery within USA and diplomatic delivery worldwide) and other Best strains of weed available at very moderate prices, Our shipping is 100% effective and in-case i fail to deliver, i give a refund or send a second package.</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/a6fde073cf6a479541ac5e784152401a">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								AK-47 will leave you relaxed and mellow.
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/a6fde073cf6a479541ac5e784152401a">
											<img src="/item-image/a6fde073cf6a479541ac5e784152401a?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/a6fde073cf6a479541ac5e784152401a">
										<div class="ui dark-green basic tiny button fluid left aligned">1/ 4 lb</div>
										<div class="ui basic left pointing label price">600 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/a6fde073cf6a479541ac5e784152401a">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">750 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/a6fde073cf6a479541ac5e784152401a">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>AK-47 will leave you relaxed and mellow. This sativa-dominant hybrid delivers a steady and long-lasting cerebral buzz that keeps you mentally alert and engaged in creative or social activities. AK-47 mixes Colombian, Mexican, Thai, and Afghani varieties, bringing together a complex blend of flavors and effects. While AK-47’s scent is sour and earthy, its sweet floral notes can only be fully realized in the taste</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Strawberry Banana is a 70⁄30 indica-dominant cannabis strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
											<img src="/item-image/eb6520ff66c64cda692bfff8364a1ef5?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
										<div class="ui dark-green basic tiny button fluid left aligned">1 ounce</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 pound</div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
										<div class="ui dark-green basic tiny button fluid left aligned">1 pound</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/eb6520ff66c64cda692bfff8364a1ef5">
										<div class="ui dark-green basic tiny button fluid left aligned">4 pound</div>
										<div class="ui basic left pointing label price">4500 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Strawberry Banana is a 70⁄30 indica-dominant cannabis strain developed by DNA Genetics in collaboration with Serious Seeds. A genetic cross between Crockett’s Banana Kush and the “Strawberry” phenotype of Bubble Gum, Strawberry Banana inherits a sweet fruity flavor that earned this hybrid her name. Known for its heavy resin production and high THC content, Strawberry Banana produces happy, peaceful effects that sharpen creativity and sensory awareness</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/28aa82d0a0cf49b75337bf952a5a0344">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Kurupt’s Moonrocks 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/28aa82d0a0cf49b75337bf952a5a0344">
											<img src="/item-image/28aa82d0a0cf49b75337bf952a5a0344?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/28aa82d0a0cf49b75337bf952a5a0344">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">450 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/28aa82d0a0cf49b75337bf952a5a0344">
										<div class="ui dark-green basic tiny button fluid left aligned">1/4 lb</div>
										<div class="ui basic left pointing label price">800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/28aa82d0a0cf49b75337bf952a5a0344">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">1400 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Bud coated in hash oil and dusted with kief!  Must try if you love a heavy head high.  Beware the giggle attacks.  Contains 60% THC</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Purple Kush is a 100% pure indica strain
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
											<img src="/item-image/2b395c21c1a248c371a072bfe63b6afd?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">700 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/2b395c21c1a248c371a072bfe63b6afd">
										<div class="ui dark-green basic tiny button fluid left aligned">4 lb</div>
										<div class="ui basic left pointing label price">4000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Purple Kush is a 100% pure indica strain created as a potent cross between the insanely popular Hindu Kush X Purple Afghani strains. Users describe the Purple Kush high as having an immediately uplifting euphoric head high that leaves you completely pain-free and slightly introspective. This is accompanied by a warming numbing body high that starts in the head and spreads throughout the body, leaving you completely relaxed and sedated</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Sour Diesel
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
											<img src="/item-image/b3836f84416640e25ace210b150c37a6?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
										<div class="ui dark-green basic tiny button fluid left aligned">300g</div>
										<div class="ui basic left pointing label price">15 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
										<div class="ui dark-green basic tiny button fluid left aligned">oz</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
										<div class="ui dark-green basic tiny button fluid left aligned">1/2 lb</div>
										<div class="ui basic left pointing label price">800 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/ub0364/item/b3836f84416640e25ace210b150c37a6">
										<div class="ui dark-green basic tiny button fluid left aligned">1 lb</div>
										<div class="ui basic left pointing label price">1300 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>Sour Diesel, sometimes called Sour D, is an invigorating sativa-dominant strain named after its pungent, diesel-like aroma. This fast-acting strain delivers energizing, dreamy cerebral effects that havepushed Sour Diesel to its legendary status. Stress, pain, and depressionfade away in long-lasting relief that makes Sour Diesel a top choice among medical patients. This strain took root in the early 90’s, and it is believed to have descended from Chemdawg 91and Super Skunk.</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 886 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
