<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a href="/" class="item header-logo header">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a class="item" href="/wallet/bitcoin/receive">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input value="" type="hidden" name="csrf_token" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a href="/app/download" class="ui button fluid green tiny">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a class="item" href="/marketplace">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a href="/feed" class="item">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a href="/settings/language/en" class="item fluid">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a href="/settings/language/tr" class="item fluid">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui grid segment store-header grey inverted">
							<div class="four wide column">
								<img src="/user-avatar/dankush888?size=200x200" class="ui image rounded avatar" />
							</div>
							<div class="nine wide column">
								<h2>@dankush888</h2>
								<p>We are officially open and we ship straight out of the West Coast USA.</p>
								<div class="date">
									<i class="icon wait"></i>
									<span>Registered 3 weeks ago</span>
								</div>
								<div class="date">
									<i class="icon wait"></i>
									<span>Last seen 1 week ago</span>
								</div>
								<br />
								<span class="ui label brown">Bronze Account</span>
								<span class="ui label teal dark-green">
									<i class="icon level up"></i>
									1 lvl
								</span>
							</div>
							<div class="three wide column">
								<a class="ui right floated big dark-green button" href="/messages/dankush888">PM</a>
							</div>
							<div class="sixteen wide column black inverted">
								<div class="ui menu pointing secondary inverted four item">
									<a class="item" href="/store/dankush888">
										
										<i class="icon info"></i>
										About
									</a>
									<a class="item" href="/store/dankush888/reviews">
										<i class="icon thumbs up"></i>
										Reviews
										<span class="ui label circular tiny">0</span>
									</a>
									<a class="item active" href="/store/dankush888/items">
										
										<i class="icon cart"></i>
										Items
										<span class="ui label circular tiny">11</span>
									</a>
									<a class="item" href="/store/dankush888/warnings">
										
										<i class="icon exclamation"></i>
										Warnings
									</a>
								</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Black Mamba - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
											<img src="/item-image/4c404842cedc425a49a1c71fe2f2b516?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/4c404842cedc425a49a1c71fe2f2b516">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Black Mamba all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Black Mamba for the quality on the market GUARANTEED.</p>


<p>Leafly:
Black Mamba is named after the deadly African snake, so it’s no surprise that this strain is known for being strong. The genetics of this strain are unkown, but its characteristics seem to support the theory that it is a descendent of Grandaddy Purple and Black Domina. These plants produce dark green to purple leaves, but its flowers that appear after about 8 weeks that really give a hint to its supposed heritage. Dark Green and dense, these hard nugs have a strong perfumey aroma and a distrinctly sweet grape taste that is reminiscent of GDP. Many users report an upbeat feeling that mellows into a state of deep relaxation. Touted for its long-lasting effects, this Black Mamba is one to curl up with, not run away from.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Orange Cookies - FIRE California Top Shelf - A&#43;&#43;&#43; 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
											<img src="/item-image/5184558dc2b84e147f74d12653a35df1?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5184558dc2b84e147f74d12653a35df1">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Orange Cookies all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Orange Cookies for the quality on the market GUARANTEED.</p>


<p>Leafly:
Orange Cookies bred by Franchise Genetics is a hybrid that combines Orange Juice with the renowned GSC. A flavor-packed strain, Orange Cookies expresses itself with a strong aroma of sweet citrus that closely resembles a fresh tangerine. The flavors of Orange Cookies gives way to deep calming body effecets that mingle with a euphoric cerebral buzz to leave you happy and relaxed.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Tropicana Cookies - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
											<img src="/item-image/0f201fd844ed4c9140f2526a5e75f8c0?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0f201fd844ed4c9140f2526a5e75f8c0">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Tropicana Cookies all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Tropicana Cookies for the quality on the market GUARANTEED.</p>


<p>Leafly:
Bred by Phat Panda out of Washington, Tropicana Cookies crosses Forum GSC and Tangie. The result is a sativa-dominant hybrid with strong tangerine and citrus notes backed up by a smooth cookies flavor expect purple buds have hints of dark green with orange hairs.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Mimosa - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
											<img src="/item-image/b5c47fe8a7f641195ab52a40fba6d13b?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/b5c47fe8a7f641195ab52a40fba6d13b">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Mimosa all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Mimosa for the quality on the market GUARANTEED.</p>


<p>Leafly:
Mimosa by Symbiotic Genetics is a rising star in the cannabis community. This strain has garnered praise for its outsanding fruit punchm citrus rind aroma and pleasurable mid-level buzz. Mimosa is a cross of Clementine and Purple Punch, and has been known to contain respectable percentages of the terpenes limonene and beta-caryophyllene. Like the beverage, there is no bad time to enjoy Mimosa, but if you enjoy too much, the trajectory of your day will need adjusting.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Thin Mint Girl Scout Cookies - FIRE California Top Shelf - A&#43;&#43;&#43; 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
											<img src="/item-image/867229b83b9f4ea2551a6995dc3de300?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/867229b83b9f4ea2551a6995dc3de300">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Thin Mint GSC all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Thin Mint GSC for the quality on the market GUARANTEED.</p>


<p>Leafly:
Thin Mint, a hybrid cross containing Durban Poison and OG Kush genetics, is a phenotype of the legendary GSC strain. Dark green and royal purple hues peek through a heavy coat of crystals, with a sweet minty smell that gives a full explanation of this strain’s name. Thin Mint calls upon the powers of its indica, sativa, and hybrid ancestors for a powerful full-body effect that gives this strain its sterling reputation. The high psychoactivity of this strain is not for novice consumers, but patients with a variety of symptoms are giving Thin Mint their seal of approval: severe pain, nausea, swelling, insomnia, and appetite loss are no match for the potency of Thin Mint.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Purple Punch - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
											<img src="/item-image/0b21d4d0973f4b56421500eac1a10241?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/0b21d4d0973f4b56421500eac1a10241">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Purple Punch all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Purple Punch for the quality on the market GUARANTEED.</p>


<p>Leafly:
Purple Punch is the sweet and sedating union of two indica-dominant classics. By breeding Larry OG with Granddaddy Purple, the astonishing trichome laden Purple Punch was born, smelling of grape candy, blueberry muffins, and tart Kool-Aid. The potency of this strain gives the consumer a one-two punch to the head and body, initially landing between the eyes and settling down into the limbs. Purple Punch is a delicious dessert strain that is best suited for after dinner. Its effects may help with managing nausea, stress, minor body aches, and sleeplessness.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Gorilla Glue - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
											<img src="/item-image/fff37ef598544da87e354f25d972aca9?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/fff37ef598544da87e354f25d972aca9">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Gorilla Glue all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Gorilla Glue for the quality on the market GUARANTEED.</p>


<p>Leafly:
Gorilla Glue (GG4), developed by GG Strains, is a potent hybrid strain that delivers heavy-handed euphoria and relaxation, leaving you feeling “glued” to the couch. Its chunky, resin-covered buds fill the room with pungent earthy and sour aromas inherited from its parent strains, Chem’s Sister, Sour Dubb, and Chocolate Diesel. Taking first place in both the Michigan and Los Angeles 2014 Cannabis Cups as well as the High Times Jamaican World Cup, this multiple award-winning hybrid’s supremacy is no longer a secret, and consumers will search far and wide to get their hands sticky with Gorilla Glue (GG4).</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Wedding Cake - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
											<img src="/item-image/5391a4dc5e7d45e04d29110ea502bca6?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5391a4dc5e7d45e04d29110ea502bca6">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Wedding Cake all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Weddinf Cake for the quality on the market GUARANTEED.</p>


<p>Leafly:
Wedding Cake, also known as Pink Cookies, is the familial genetic cross of Girl Scout Cookies and Cherry Pie. This delectable treat is rich with tangy sweet earth and pepper, taking notes and dimension from its OG and Durban Poison parentage. Enjoy this double dose of dense dankness with care, as certain farms have noted THC content upwards of 25% or greater.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Cherry Pie - FIRE California Top Shelf - A&#43;&#43;&#43; 
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
											<img src="/item-image/750e3bccbb5c4a4045d8f52c2d2f32d2?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/750e3bccbb5c4a4045d8f52c2d2f32d2">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Cherry Pie all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Cherry Pie for the quality on the market GUARANTEED.</p>


<p>Leafly:
Cherry Pie’s parents are Grandaddy Purple and Durban Poison. With buds that are dense and full of orange hairs and a touch of purple, this strain smells of sweet and sour cherry pie. The effects have been known to come on in minutes and stick around for a couple of hours.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Sherbert - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
											<img src="/item-image/5e876c691dc04c765ff27a06442945ec?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/5e876c691dc04c765ff27a06442945ec">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Sherbert all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Sherbert for the quality on the market GUARANTEED.</p>


<p>Leafly:
Heir to the GSC (f.k.a. Girl Scout Cookies)throne is Sherbert, also known as Sherbet and/or Sunset Sherbert, an indica-leaning hybrid with intoxicatingly potent effects. Bred by Mr. Sherbinski, Sherbert inherits the genetic lineage of its GSC parent, whose ancestors include the famed OG Kush, Cherry Pie, and Durban Poison. Crossed with an indica known as Pink Panties, Sherbert exhibits powerful full-body effects elevated by a jolt of cerebral energy. A complex aroma colors Sherbert with notes of skunky citrus, sweet berry, and that candy-like smell redolent of its GSC parent. Stress, tension, and sour moods melt away with the carefree mindset and physical relaxation that comes with this rich hybrid.</p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
						<div class="ui segment">
							<h3 class="ui header dividing" href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
								<span class="ui teal tiny label tag right floated">Buds</span>
								<span class="ui red tiny label right floated">Approval Pending</span>
								Wookies - FIRE California Top Shelf – A&#43;&#43;&#43;
							</h3>
							<div class="ui two column grid">
								<div class="ui column center aligned">
									<div class="ui image">
										<a href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
											<img src="/item-image/cd0620c2dc4e485a55d40b916a810dcb?size=300x300" class="ui image x300 rounded" />
										</a>
									</div>
								</div>
								<div class="ui column">
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
										<div class="ui dark-green basic tiny button fluid left aligned">1g (sample)</div>
										<div class="ui basic left pointing label price">20 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
										<div class="ui dark-green basic tiny button fluid left aligned">28g (1oz.)</div>
										<div class="ui basic left pointing label price">300 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
										<div class="ui dark-green basic tiny button fluid left aligned">56g (2oz.)</div>
										<div class="ui basic left pointing label price">580 USD
										</div>
									</a>
									<div class="spacer"></div>
									<a class="ui labeled button tiny fluid" href="/store/dankush888/item/cd0620c2dc4e485a55d40b916a810dcb">
										<div class="ui dark-green basic tiny button fluid left aligned">112g (4oz.)</div>
										<div class="ui basic left pointing label price">1000 USD
										</div>
									</a>
									<div class="spacer"></div>
								</div>
							</div>
							<div class="ui section divider"></div>
							<div>
								<div class="h50"><p>DM for larger inquiries.</p>


<p>Excellent Wookies all around.</p>

<p>Excellent quality smoke, nose, looks.</p>

<p>Best priced Wookies for the quality on the market GUARANTEED.</p>


<p>Leafly:
Wookies (not to be confused with the strain “Wookie” or the enormous, sentient space-bears of Star Wars) is an indica-dominant cross of White 91 (The White x Chemdawg 91) and Girl Scout Cookies. Known for its loud terpene profile and high-THC percentage, Wookies grows the Cookies genetic line while standing firmly on its own in terms of effects. It combines the generous trichome production of White 91 with the minty, musky aroma of the GSC “Forum Cut” to create a strain that is potent and pleasing to the senses. </p>

<p>Stay lifted &amp; stay blessed,</p>

<p>dankush888</p>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a href="http://34n4am6fxu4dnv66.onion/blog" class="item">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/wiki">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market" class="item">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 315 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
