<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/semantic.css" />
		<link rel="stylesheet" type="text/css" href="/css/tochka.css" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<title>Tochka Free Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="ui container grid header-main">
			<div class="three wide column header-logo">
				<div class="ui menu tiny vertical secondary fluid">
					<a class="item header-logo header" href="/">
						<span>T</span>
						<span class="dark-green point">•</span>
						<span>c</span>
						<span>h</span>
						<span>k</span>
						<span>a</span>
					</a>
				</div>
			</div>
			<div class="ten wide column top-search top-search-marketplace">
				<form class="ui input icon fluid" method="GET" action="/marketplace">
					<input type="hidden" name="category" value="0" />
					<input type="hidden" name="subcategory" value="0" />
					<input type="text" name="query" placeholder="What are you looking for?" value="" />
					<i class="icon search"></i>
				</form>
			</div>
			<div class="three wide column messages-container">
				<div class="messages">
					<a href="/payments">
						<div class="message-block first-message-block">
							<svg viewBox="0 0 576 512" width="25" height="29">
								<path d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM403.029 192H360v-60c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v60h-43.029c-10.691 0-16.045 12.926-8.485 20.485l67.029 67.029c4.686 4.686 12.284 4.686 16.971 0l67.029-67.029c7.559-7.559 2.205-20.485-8.486-20.485z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Orders</span>
						</div>
					</a>
					<a href="/messages?section=inbox">
						<div class="message-block second-message-block">
							<svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 24 24">
								>
								<path d="M21 7h-3c0-1.65-1.35-3-3-3h-12c-1.65 0-3 1.35-3 3v7c0 1.65 1.35 3 3 3v3l3-3c0 1.65 1.35 3 3 3h8l3 3v-3h1c1.65 0 3-1.35 3-3v-7c0-1.65-1.35-3-3-3zm-18 8c-.542 0-1-.458-1-1v-7c0-.542.458-1 1-1h12c.542 0 1 .458 1 1v1h-6.5c-1.379 0-2.5 1.121-2.5 2.5v4.5h-4zm19 2c0 .542-.458 1-1 1h-12c-.542 0-1-.458-1-1v-6.5c0-.827.673-1.5 1.5-1.5h11.5c.542 0 1 .458 1 1v7z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Messages</span>
						</div>
					</a>
					<a href="/support">
						<div class="message-block third-message-block">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="29" viewBox="0 0 24 24">
								<path d="M4,2C2.9,2 2,2.9 2,4V16C2,17.1 2.9,18 4,18H8V21C8,21.55 8.45,22 9,22H9.5V22C9.75,22 10,21.9 10.2,21.71L13.9,18H20C21.1,18 22,17.1 22,16V4C22,2.89 21.1,2 20,2H4M4,4H20V16H13.08L10,19.08V16H4V4M12.19,5.5C11.3,5.5 10.59,5.68 10.05,6.04C9.5,6.4 9.22,7 9.27,7.69C0.21,7.69 6.57,7.69 11.24,7.69C11.24,7.41 11.34,7.2 11.5,7.06C11.7,6.92 11.92,6.85 12.19,6.85C12.5,6.85 12.77,6.93 12.95,7.11C13.13,7.28 13.22,7.5 13.22,7.8C13.22,8.08 13.14,8.33 13,8.54C12.83,8.76 12.62,8.94 12.36,9.08C11.84,9.4 11.5,9.68 11.29,9.92C11.1,10.16 11,10.5 11,11H13C13,10.72 13.05,10.5 13.14,10.32C13.23,10.15 13.4,10 13.66,9.85C14.12,9.64 14.5,9.36 14.79,9C15.08,8.63 15.23,8.24 15.23,7.8C15.23,7.1 14.96,6.54 14.42,6.12C13.88,5.71 13.13,5.5 12.19,5.5M11,12V14H13V12H11Z"></path>
							</svg>
							<span class="number">0</span>
							<span class="description">Support</span>
						</div>
					</a>
				</div>
				<div class="account user-menu-container">
					<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
					<span>Account</span>
					<div class="ui segment user-menu">
						<h3 class="ui dividing header">
							
							<img src="/user-avatar/ravenburger?size=small" class="ui image circular" />
							@ravenburger
						</h3>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>User</strong>
							</span>
							<a class="item" href="/user/ravenburger">
								<i class="icon user"></i>
								My Account
							</a>
							<a class="item" href="/settings/user">
								<i class="ui icon settings"></i>
								Settings
							</a>
							<a class="item" href="/referrals">
								<i class="icon level up"></i>
								Referrals
							</a>
						</div>
						<div class="ui section divider"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Wallet</strong>
							</span>
							<a href="/wallet/bitcoin/receive" class="item">
								Bitcoin
								<span class="ui label tiny dark-green">0 </span>
							</a>
							<a class="item" href="/wallet/ethereum/receive">
								Ethereum
								<span class="ui label tiny dark-green">0 </span>
							</a>
						</div>
						<div class="ui section divider"></div>
						<form class="ui form" action="/auth/logout" method="post">
							<input type="hidden" name="csrf_token" value="" />
							<button class="ui button red fluid tiny" type="submit">
								<i class="icon sign out fluid"></i>
								Sign Out      
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="sixteen wide column">
				<div class="tochka-container ui grid divided">
					<div class="three wide column tochka-left menu">
						<a class="ui button fluid green tiny" href="/app/download">Download Tochka Mobile App for Android</a>
						<div class="ui menu tiny vertical secondary fluid">
							<a href="/marketplace" class="item">
								<i class="ui icon shop"></i>
								Marketplace
							</a>
							<a class="item active" href="/vendors">
								<i class="ui icon users"></i>
								Vendors
							</a>
							<a class="item" href="/board">
								Board
								<i class="icon users"></i>
							</a>
							<a class="item" href="/feed">
								Feed
								<i class="icon feed"></i>
							</a>
							<a class="item" href="/help">
								<i class="ui icon info"></i>
								Help
							</a>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<i class="united kingdom flag"></i>
								English
								<div class="menu fluid">
									<a class="item fluid" href="/settings/language/de">
										
										<i class="germany flag"></i>
										Deutsche
									</a>
									<a class="item fluid" href="/settings/language/en">
										
										<i class="united kingdom flag"></i>
										English
									</a>
									<a class="item fluid" href="/settings/language/es">
										
										<i class="spain flag"></i>
										Español
									</a>
									<a class="item fluid" href="/settings/language/fr">
										
										<i class="france flag"></i>
										Français
									</a>
									<a class="item fluid" href="/settings/language/it">
										
										<i class="italy flag"></i>
										Italiano
									</a>
									<a class="item fluid" href="/settings/language/ru">
										
										<i class="russia flag"></i>
										Русский
									</a>
									<a class="item fluid" href="/settings/language/rs">
										
										<i class="serbia flag"></i>
										Srpski
									</a>
									<a class="item fluid" href="/settings/language/tr">
										
										<i class="turkey flag"></i>
										Türkçe
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
						<div class="ui menu tiny vertical secondary fluid">
							<span class="item">
								<strong>Currency Rates</strong>
							</span>
							<span class="item">
								5258.36 
								<span class="ui label tiny dark-green">BTC</span>
							</span>
							<span class="item">
								155.38 
								<span class="ui label tiny dark-green">ETH</span>
							</span>
						</div>
						<div class="ui menu fluid tiny">
							<div class="ui simple dropdown item fluid">
								<strong>USD</strong>
								<div class="menu fluid">
									<a class="item fluid" href="/settings/currency/AUD">
										<strong>AUD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>7485.14 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>218.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/EUR">
										<strong>EUR</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4694.9 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>138.46 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/GBP">
										<strong>GBP</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>4066.86 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>119.89 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/RUB">
										<strong>RUB</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>347041.51 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>10234.25 </span>
										</div>
									</a>
									<a class="item fluid" href="/settings/currency/USD">
										<strong>USD</strong>
										<div class="cryptoRate">
											<strong>BTC</strong>
											<span>5258.36 </span>
										</div>
										<div class="cryptoRate">
											<strong>ETH</strong>
											<span>155.38 </span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="ui section divider left-menu"></div>
					</div>
					<div class="thirteen wide column">
						<div class="ui divided grid">
							<div class="twelve wide column">
								<div class="ui fluid menu secondary">
									<a class="item" href="?section=info">About</a>
									<a class="item active" href="?section=contacts">Contact Information</a>
								</div>
								<div class="ui form segment contacts">
									<h3 class="ui dividing header">Contact Information</h3>
									<div class="field">
										<label>PGP</label>
										<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFyhpYUBEACzyqEJIWYSdtP/2uHusZlNrMA9DGm7gPFWgy&#43;74tKY2w5iCbSz
SWAbdSz4Z&#43;2rbmWmCGDzq&#43;pg5XCOXKw9GeoJBlPQJhlBnc7kFTU1iR6lPPHZrzyW
UnzG05kwQ734AHUnj1Zbek5c7KlTAJM/yQvmIt0nxo22IyUCw6SPdEbEvMMGhBFM
dMQLScMRJL0UTI&#43;ipTJysUqLpP8OvH4shOkFufog2grKhQtQ&#43;5BqK9CNqZVE9FIv
6x1QXqjmOhZYam&#43;7YGKaYB4dO&#43;&#43;0qJstp2ney/jhOHYlGlHt2Ufpm5cESuC&#43;2NJ/
GCSz6RZzi&#43;ldIAxkq/R8BaHTcGHne8KIBICBCX0q4iPXDIMSmmrXlOn66ejTJOFG
KNq6VsgavFzM8P6p9I2bg6hT94M7dICcJhhDdI4TawBV9vM8Bu5esvvNUA8wMSdl
bxRhlEODGfiytfJWTq7r2GW1dvWD8SNSFAZdw6KbMswtGWcON2es8j7wZ8zFzxwv
J19Z&#43;L/lFTgPz6cJwwHmFPlg5VzbtyrDU0A9wg&#43;6nXizMlQBUn5pxlJPOZqlgA&#43;n
nD5vDAH33rih6xBv2mIs18Hddx7F&#43;&#43;OIIxscch4L7vmv5lMsokoY1Hon2qIBPivD
MJrDse2kEsUHj/asWIs2/rrL40a1EW37R9gk9YGD9llR7oRypPt0tDN0&#43;wARAQAB
tAVHb29kWYkCTgQTAQoAOBYhBAvsvrW04wTrnD9D8rR3dQJOdPTBBQJcoaWFAhsD
BQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAAAoJELR3dQJOdPTBH0MP/izvUmjWnB4g
iJyz8GLLHE9CeZ&#43;uIAEJmoqTlbRWdvk3/Ss8QoFJ8H4yXnyK8&#43;Geoh3iX2VmXvm8
BJvhPhpJvg2imA5GZVHC/UvPQdlEL8&#43;XMKqFQdcOTynT17ytJLdTijNZV76AR6xo
MlzqMKwIGeyB3Fy3m3EwmzYFOcxI7T6aznhJflWAa0ymhlIxsdOrU7M4CN58Kmpe
OkZ1Vc5FAAgUzqvjPtFUnHD7ruycM3pznaiqAqLFyvmysnLgA63MMrPmNAiJTVEf
av0YP5W35kLnnpxVfrrvnKbKaZ163QOO2uW3KrEskxtlvQXuV0/7uoNPZjRdHt7J
ChHfVs8wvv3fXzRO6vn4aHc9GaS3PUFqVvSHQH2XetPOgCCzNxM7uJsB/Phrr4r1
nc9jypxp1YuH5g2qQdFf8A8rSIrLWbYo7TIDxMiDHOwTvLO3gow8DY0ACFmu0tBI
BfwzdiPq7gmMBfh0xv1rLBFUW8lT/YJzE/Isw&#43;FHuRCFDDhj4NP1JGTGpmyHKAXA
B3GYauXrj4oa5c1qahp34YNYvyCzJrA1ozhkaCy/L8zrqHRtVdyWCQRzhlXMobI5
TzRp7JJDY2b/0cSshaCTJFKtdO4Vf1KAnQzTWQb3z71NnramWcc0AWX/NYukLhlC
g&#43;7xDgC6jvPw&#43;D1bqG2WGbmVqFZSaSt2uQINBFyhpYUBEACnjpgTyjHOhXaLnKiz
XAr&#43;V8Vl/PrNItdXMEAvMVCPlf3MaCF4823I2Xtp5KVjVdiQ2DIIt/bhy1kTVK/z
VImxRLLi7QVIuSFVA02Ydqy1ahYS5LfLoig0lKopmCmE0cfmSWelS0sLLCWg2IFf
M8c7nCQfdLFwH1o9rjrK4vYYrQe&#43;TKRS11BKlpn6UKH1VoL9XSMxGNdmcDyf5BMQ
u/yjVeHcEmpL5GD/evCH2paiVw15jiAx1baVp0wc57&#43;4H0JCrZ4TGWi/Niw05YoW
EzPWWFVxr8uhQ48RhUM6ydSIaacoRx0lfhFuXpnL8ySlsTQe6n91JSAwW6Mzutfa
vNMz&#43;/KbjurpuE1Z81aH&#43;abVRXaIaGFe7tcezfv78V59rFnOBO9ql/aewpDHnY3g
tgfwqLABOhXAhCYRLkpRhgBHTcuSL2UKYLBVF14MCQ2e1hB8jk4D4/tp2niZC0UF
oZNwYqPzWi4AOC2nCHF6SbBfRN9TxQKJG0XyqaPYe00kF7tdTw/LOIieEQTVjGfT
4fDCndN6/W12t3V7Rupu5mD2U8hoN9&#43;jWSbODh4oGwNq8SbCt&#43;K5EQ&#43;n5hSkhVSl
XP8/xSghSY52k6fPMp5MIwFyAXe8q5J1nGP8DSN1eyQKxpowNHLtKTuwedmwiQSL
qj2zHPp/4pJEqfdpBQ/Yps7OtwARAQABiQI2BBgBCgAgFiEEC&#43;y&#43;tbTjBOucP0Py
tHd1Ak509MEFAlyhpYUCGwwACgkQtHd1Ak509MF7Tg//YJQuGh8kENqSxofXYspF
vbQTh7nasGvZApN9kh8UqNmgAcxc1F58Lp/l&#43;6LfGk62GVPEAHfHLS99V1bpwl7C
00rWm8iJjWUDujuhTO6lwQSsYBgCYc8lYIZoe2omzw8jkbAdP&#43;IQXhEAfgdNh7vy
R/y&#43;pzffWSAvWnd4qD7ZAuM8lGdr5JeGMr2IVPlHUyym7H7UuamIBSP7ywd9xdvz
nMW6F2LXZH2TtQYhorbacrlbtm0lBbit&#43;ISlYdoFns2CLFadJuRTE5IllELmUjrU
0jNCtIgRziLs7UFSX1Ut1Lg0aFeJ5Je59MwMI9JR2oyFQQ81&#43;ltZsElBs1Zfs7Qb
FR8C6LoOmGi0XXYWBanvf15Yk03Ae1lc&#43;RxQLhDXfrDb8nmdTgXXce/BwELArPUx
9Ouau8/qbpnn81jMxz7HjRJYb6/xfuCKH5pmmOB7JHcLos4Mz2uTzs99zia2ZUdI
CGApXaRo5o737f4lBoRn2xP1EXXgPCIOb1XFqn0bDhs64LnThlcwjc7AqcD3ckcz
TqwRnoPrD4oMQcHVrPTcZQS7Nh8v7m6Ztby&#43;vo&#43;ufqXzH1PwxEj8E6LIPIVTC0Et
gaEWxlcQHkNsaN2cd1sHVcng3SFezzysoVj5A8sRHkTQZDCwknGMB7utKldeNfKD
Qt5VKp/gTLH0rFssd2fBe&#43;0=
=7nt4
-----END PGP PUBLIC KEY BLOCK-----</pre>
									</div>
								</div>
							</div>
							<div class="four wide column t-left-menu-items">
								<div class="ui card">
									<div class="content card-header">
										<a class="header" href="/user/frank_booth_007">@frank_booth_007</a>
									</div>
									<div class="image">
										<img src="/user-avatar/frank_booth_007" />
									</div>
									<div class="content">
									</div>
									<div class="extra content">
										<div class="date">
											
											<i class="icon wait"></i>
											<span>Registered 3 weeks ago</span>
										</div>
										<div class="date">
											
											<i class="icon wait"></i>
											<span>Last seen 6 hours ago</span>
										</div>
									</div>
									<div class="extra content">
										<a class="ui button dark-green" href="/messages/frank_booth_007">
											<i class="icon comment"></i>
											PM
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sixteen wide column footer-v2">
				<div class="ui grid first">
					<div class="three-and-a-half wide column">
						<h3>Learn How to Buy</h3>
						<ul>
							<a href="/help/04_how_to_buy">
								<li>How to Buy</li>
							</a>
							<a href="/help/04_how_to_buy#buy-bitcoins">
								<li>Buying Bitcoins</li>
							</a>
							<a href="/help/04_how_to_buy#bitcoin-wallet">
								<li>Transfer Bitcoins to Your Wallet</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Make Money with Us</h3>
						<ul>
							<a href="/help/03_how_to_sell">
								<li>How to Sell at Tochka</li>
							</a>
							<a href="/referrals">
								<li>Refer Friends & Earn Commision</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Let us Help You</h3>
						<ul>
							<a href="/support/new">
								<li>Help & Contact</li>
							</a>
							<a href="/help/10_how_to_stay_safe">
								<li>Staying Safe</li>
							</a>
							<a href="/support/new">
								<li>Make a Dispute</li>
							</a>
							<a href="/help/11_how_front_page_works">
								<li>How front-page ranking works</li>
							</a>
						</ul>
					</div>
					<div class="three-and-a-half wide column">
						<h3>Get to Know us</h3>
						<ul>
							<a href="/help/05_about_marketplace">
								<li>About Tochka</li>
							</a>
							<a href="/shoutbox?section=news">
								<li>News</li>
							</a>
							<a href="/help/06_quality_control">
								<li>Vendor Quality Control</li>
							</a>
							<a href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">
								<li>Open-Source that Tochka Runs On</li>
							</a>
							<a href="/help/09_REST_API">
								<li>REST Api for Tochka</li>
							</a>
						</ul>
					</div>
				</div>
				<div class="ui grid">
					<div class="thirteen wide column second">
						<div class="ui menu tiny horizontal secondary fluid">
							<a class="item" href="http://34n4am6fxu4dnv66.onion/blog">
								<i class="ui icon feed"></i>
								Blog
							</a>
							<a href="http://34n4am6fxu4dnv66.onion/wiki" class="item">
								<i class="ui icon info"></i>
								Wiki
							</a>
							<a class="item" href="http://34n4am6fxu4dnv66.onion/ico">
								<i class="ui selected radio icon"></i>
								ICO
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/">
								<i class="ui github icon"></i>
								Source Code
							</a>
							<a class="item" href="http://qxklmrhx7qkzais6.onion/Tochka/tochka-free-market">Tochka is Open-Source Software subject to the MIT License</a>
							<span class="item">
								<i>Page rendered in 185 ms</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
